{% load string_filters %}

{% comment %}
Use message tags to control these alerts.  Available tags include:
- safe: allow HTML in the message
- block: for longer messages - this adds extra padding
- noicon: don't show an icon
- error/success/info - these change the connotation of the alert
{% endcomment %}
<div id="messages">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible {% for tag in message.tags|split %}alert-{% if tag == 'error' %}danger{% else %}{{ tag }}{% endif %} {% endfor %} fade show">
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
        <div class="icon-link">
          {% if 'noicon' not in message.tags %}
            {# Include an icon by default #}
            {% if 'success' in message.tags %}
              <iconify-icon icon="lets-icons:check-fill" width="1.2rem" height="1.2rem"></iconify-icon>
            {% elif 'info' in message.tags %}
              <iconify-icon icon="ic:round-info" width="1.2rem" height="1.2rem"></iconify-icon>
            {% elif 'warning' in message.tags %}
              <iconify-icon icon="heroicons-solid:exclamation" width="1.2rem" height="1.2rem"></iconify-icon>
            {% elif 'danger' in message.tags or 'error' in message.tags %}
              <iconify-icon icon="material-symbols:error" width="1.2rem" height="1.2rem"></iconify-icon>
            {% endif %}
          {% endif %}
          {# Allow HTML to be embedded in messages #}
          {% if 'safe' in message.tags %}
            {{ message|safe }}
          {% else %}
            {{ message }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
