{% load i18n %}
{% load category_tags %}

<header class="ecommerce-navbar">
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container column-gap-5">
        <button class="btn btn-soft-primary btn-icon navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="{% translate "Toggle navigation" %}">
          <iconify-icon icon="bi:list" class="fs-20"></iconify-icon>
        </button>

        <div class="navbar-brand d-none d-lg-block">
          {% include "oscar/partials/brand.html" %}
        </div>
        
        <div class="offcanvas offcanvas-start " id="navbarContent"  tabindex="-1" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header border-bottom">
            <div class="offcanvas-title" id="offcanvasNavbarLabel">
              {% include "oscar/partials/brand.html" %}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-start column-gap-2" id="navigation-menu">
                <li class="nav-item dropdown dropdown-hover dropdown-mega-full">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% translate "Catalogue" %}
                    </a>
                    <div class="dropdown-menu">
                        <div class="row">
                              <div class="col-lg-2 d-none d-lg-block">
                                <div class="d-flex align-items-center justify-content-center rounded-start rounded-0 h-100 overflow-hidden catalogue__bg">
                                    <div class="bg-overlay bg-light bg-opacity-25"></div>
                                    <a href="{% url "catalogue:browse" %}" class="btn btn-soft-primary icon-link btn-hover">
                                        <iconify-icon icon="arcticons:acorns" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                                        <span>{% translate "All products" %}</span>
                                    </a>
                                </div>
                            </div>
                            {% category_tree as tree_categories %}
                            {% if tree_categories %}
                                {% for tree_category in tree_categories %}
                                    {% if tree_category.has_children %}
                                        <div class="col-lg">
                                            <ul class="dropdown-menu-list list-unstyled mb-0">
                                                <li>
                                                    <a href="{{ tree_category.url }}" class="mb-2 text-uppercase fs-11 fw-medium text-body-secondary  menu-title">
                                                        {% translate tree_category.name %}
                                                    </a>
                                                </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a href="{{ tree_category.url }}" class="nav-link">
                                                {% translate tree_category.name %}
                                            </a>
                                        </li>
                                        {% for n in tree_category.num_to_close %}
                                            </ul></div>
                                        {% endfor %}
                                    {% endif %}                                        
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html" data-key="t-contact">Contact</a>
                </li>
            </ul>
          </div>
        </div>

        <div class="hstack">
            <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle text-body-secondary " data-bs-toggle="modal" data-bs-target="#searchModal">
                <iconify-icon icon="bx:search" class="fs-20"></iconify-icon>
            </button>
            
            {% include "oscar/partials/color_mode.html" with eccomerce=True %}

            <div class="topbar-head-dropdown header-item">
                <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% translate "View cart items" %}">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle text-body-secondary " data-bs-toggle="offcanvas" data-bs-target="#ecommerceCart" aria-controls="ecommerceCart">
                        <iconify-icon icon="ph:shopping-cart" class="fs-18"></iconify-icon>
                        <span class="position-absolute topbar-badge fs-10 translate-middle badge rounded-circle bg-info">4</span>
                    </button>
                </div>
            </div>

            {% if user.is_authenticated %}
                {% block nav_account_navbar_authenticated %}
                     <div class="header-item">
                        <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% translate "View my notifications" %}"> 
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle text-body-secondary " data-bs-toggle="offcanvas" data-bs-target="#ecommerceCart" aria-controls="ecommerceCart">
                                <iconify-icon icon="bi:bell" class="fs-18"></iconify-icon>
                                <span class="position-absolute topbar-badge fs-10 translate-middle badge rounded-circle bg-danger">
                                    {{ num_unread_notifications }}
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                            <div class="dropdown-head rounded-top">
                                <div class="p-3 border-bottom border-bottom-dashed">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="mb-0 fs-16 fw-semibold"> 
                                                {% translate "Notifications" %}
                                                <span class="badge bg-danger-subtle text-danger fs-13 notification-badge"> 4</span>
                                            </h6>
                                        </div>
                                        <div class="col-auto dropdown">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown" class="link-secondar2 fs-15"><i class="bi bi-three-dots-vertical"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">All Clear</a></li>
                                                <li><a class="dropdown-item" href="#">Mark all as read</a></li>
                                                <li><a class="dropdown-item" href="#">Archive All</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {% comment %} TODO: SET NOTIFICATIONS {% endcomment %}
                        </div>
                    </div>
                    
                    <div class="dropdown dropdown-hover-end header-item">
                        <button type="button" class="btn d-flex" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <iconify-icon icon="qlementine-icons:user-16" class="fs-20 text-secondary-emphasis"></iconify-icon>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <h6 class="dropdown-header">  
                                {% blocktranslate with user_name=user.get_full_name|default:request.user.email %} 
                                    Welcome {{user_name}}!
                                {% endblocktranslate %} 
                            </h6>
                            <a class="dropdown-item icon-link" href="{% url "customer:profile-view" %}">
                                <iconify-icon icon="healthicons:ui-user-profile" class="text-body-secondary"></iconify-icon>
                                {% translate "Account" %}
                            </a>
                            <a class="dropdown-item icon-link" href="{% url "customer:order-list" %}">
                                <iconify-icon icon="lets-icons:order-light" class="text-body-secondary"></iconify-icon>
                                {% translate "Order history" %}
                            </a>
                            <a class="dropdown-item icon-link" href="{% url "customer:wishlists-list" %}">
                                <iconify-icon icon="mdi:cart-heart" class="text-body-secondary"></iconify-icon>
                                {% translate "Wishlist" %}
                            </a>

                            <div class="dropdown-divider"></div>

                            {% if user.is_staff or perms.partner.dashboard_access %}
                                <a class="dropdown-item icon-link" href="{% url "dashboard:index" %}">
                                    <iconify-icon icon="bi:speedometer2" class="text-body-secondary"></iconify-icon>
                                    {% translate "Dashboard" %}
                                </a>
                            {% endif %}
                            <a class="dropdown-item icon-link" href="{% url "customer:logout" %}">
                                <iconify-icon icon="bi:box-arrow-right" class="text-body-secondary"></iconify-icon>
                                {% translate "Logout" %}
                            </a>
                        </div>
                    </div>
                {% endblock nav_account_navbar_authenticated %}
            {% else %}
                <div class="header-item">
                    <a href="{% url "customer:login" %}" class="btn btn-ghost-dark btn-icon btn-topbar icon-link rounded-circle text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% translate "Log in" %}">
                        <iconify-icon icon="ph:sign-in-bold" class="fs-20"></iconify-icon>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
  </nav>
</header>

{% include "oscar/partials/cart.html" %}

