{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav class="{% block nav_classes %}navbar navbar-expand-lg navbar-dark bg-dark{% endblock nav_classes %}">
  {% block navbar_toggler %}
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-toggle="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  {% endblock navbar_toggler %}
  {% block navbar_basket %}
    <a class="btn btn-secondary float-end btn-cart ms-auto d-inline-block d-md-none"
       href="{% url 'basket:summary' %}">
      <iconify-icon icon="fa-solid:shopping-cart" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Basket" %}
      {% if not request.basket.is_empty %}
        {% if request.basket.is_tax_known %}
          {% blocktranslate with total=request.basket.total_incl_tax|currency:request.basket.currency %}
                        Total: {{ total }}
                    {% endblocktranslate %}
        {% else %}
          {% blocktranslate with total=request.basket.total_excl_tax|currency:request.basket.currency %}
                        Total: {{ total }}
                    {% endblocktranslate %}
        {% endif %}
      {% endif %}
    </a>
  {% endblock navbar_basket %}
  {% block navbar_collapse %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% block nav %}
        <ul class="navbar-nav me-auto">
          {% block nav_items %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbarDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">
                {% block browse_store_text %}
                  {% translate "Browse store" %}
                {% endblock browse_store_text %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% category_tree depth=1 as tree_categories %}
                <a class="dropdown-item" href="{% url 'catalogue:index' %}">{% translate "All products" %}</a>
                {% if tree_categories %}
                  <div class="dropdown-divider"></div>
                  {% for tree_category in tree_categories %}
                    <a class="dropdown-item" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                  {% endfor %}
                {% endif %}
                <div class="dropdown-divider"></div>
                {% block nav_dropdown_extra_items %}
                  <a class="dropdown-item" href="{% url 'offer:list' %}">{% translate "Offers" %}</a>
                {% endblock nav_dropdown_extra_items %}
              </div>
            </li>
          {% endblock nav_items %}
        </ul>
      {% endblock nav %}
      {% block nav_extra %}
        {% include "oscar/partials/search.html" %}
      {% endblock nav_extra %}
    </div>
  {% endblock navbar_collapse %}
</nav>
