@import '../../css/font.css';
@import '../../css/normalized.css';

/* ----- Header ------ */

.admin__title {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.admin__title span {
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-align: center;
}
.admin__title__logo {
	width: 50px;
	border-radius: 4px;
}

/* ----- End Header ------ */

/* ----- Navigation Bar ------ */
.sidebar,
.sidebar__nav,
.sidebar__nav__section,
.sidebar__nav__section__list {
	display: flex;
	flex-direction: column;
}
.sidebar {
	width: 21vw;
	gap: 1rem;
	padding: 1rem;
	box-shadow: var(--box-shadow);
}
.sidebar__nav {
	gap: 1.3rem;
}
.sidebar__nav__section {
	gap: 0.7rem;
}
.sidebar__nav__section__header {
	margin: 0;
}
.sidebar__nav__section__list {
	gap: 0.8rem;
}
.sidebar__nav__section__list__item {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}
.sidebar__nav__section__list__item__text {
	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;
}
.sidebar__nav__section__list__item__add {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
#nav-filter {
	margin: 0;
}
/* ----- End Navigation Bar ------ */

/* ----- Content ------ */
.content {
	padding: 1.5rem;
}

/* ----- End Content ------ */

/* ------------- MEDIA QUERYS ------------------ */

/* Extra-Small-Medium Devices  */
@media (width < 992px) {
	.login .submit-row input {
		padding: 0.55rem;
	}
}

/* Extra Small Devices */
@media (width < 480px) {
	.login #container {
		max-width: 100% !important;
	}
}

/* Small Devices */
@media (480px <= width < 768px) {
	.login #container {
		max-width: 70% !important;
	}
}

/* Medium Devices */
@media (768px <= width < 992px) {
	.login #container {
		max-width: 60% !important;
	}
}

/* Large Devices */
@media (992px <= width < 1200px) {
	.login #container {
		max-width: 40% !important;
	}
}

/* Extra Large Devices */
@media (1200px <= width < 1600px) {
	.login #container {
		max-width: 30% !important;
	}
}
