{% load i18n %}
{% load django_tables2 %}

<div>
{% with name=product.title parent_name=product.parent.title %}
    {% if product.is_child %}

        {% if creating %}
            {% if product.title %}
                {% blocktranslate %}
                    Created product variant "{{ name }}".
                {% endblocktranslate %}
            {% else %}
                {% blocktranslate %}
                    Created variant of "{{ parent_name }}".
                {% endblocktranslate %}
            {% endif %}
        {% else %}
            {% if product.title %}
                {% blocktranslate %}
                    Updated product variant "{{ name }}".
                {% endblocktranslate %}
            {% else %}
                {% blocktranslate %}
                    Updated a variant of "{{ parent_name }}".
                {% endblocktranslate %}
            {% endif %}
        {% endif %}

    {% else %}

        {% if creating %}
            {% blocktranslate %}
                Created product "{{ name }}".
            {% endblocktranslate %}
        {% else %}
            {% blocktranslate %}
                Updated product "{{ name }}".
            {% endblocktranslate %}
        {% endif %}

    {% endif %}
{% endwith %}

</div>

<div>
    <a href="{% url 'dashboard:catalogue-product' pk=product.pk %}{% querystring %}" class="btn btn-success btn-sm">{% translate "Edit again" %}</a>
    <a href="{{ product.get_absolute_url }}" class="btn btn-success btn-sm">{% translate "View it on the site" %}</a>
</div>
