{% extends "oscar/catalogue/browse.html" %}

{% load i18n %}

{% block title %}
  {{ category.get_meta_title }} | {{ block.super }}
{% endblock title %}

{% block description %}
  {{ category.get_meta_description }}
{% endblock description %}


{% block content_header %}
  {% include "oscar/partials/content_header.html" with category=category homepage_url=homepage_url %}
{% endblock content_header %}

{% block content %}
  {% if user.is_staff %}
    <a class="text-end"
        href="{% url "dashboard:catalogue-category-update" pk=category.id %}">
      <iconify-icon icon="fa:pencil-alt" aria-hidden="true" width="1rem" height="1rem"></iconify-icon>
      {% translate "Edit this category" %}
    </a>
  {% endif %}
  {{ block.super }}
{% endblock content %}
