@import 'font.css';

/* Light mode */
html[data-theme='light'],
:root {
	--primary: #0242a4;
	--secondary: #ffffff;
	--tertiary: #0049d5;
	--accent: #363636;
	--header-color: rgb(0, 0, 0);
	--primary-fg: #000000;
	--font-family-primary: 'Inter', Roboto;
	--button-bg: var(--primary);
	--button-hover-bg: var(--tertiary);
	--default-button-hover-bg: var(--tertiary);
	--default-button-bg: var(--primary);
}
/* Fin light mode */

/* Login */
.login {
	height: fit-content !important;
	align-content: top;
}
.login #container {
	width: auto !important;
	max-width: 24% !important;
	margin: 25vh auto !important;
}

#header {
	box-shadow: rgba(149, 157, 165, 0.15) 0px 3px 10px;
}
.admin__title span {
	font-size: x-large;
	font-weight: 400;
	letter-spacing: -0.5px;
	text-align: center;
}

.admin__title {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.admin__title__logo {
	width: 50px;
	border-radius: 4px;
}

/* ------------- MEDIA QUERYS ------------------ */

/* Phone */
@media (width < 600px) {
	.login #container {
		max-width: 100% !important;
	}
	.login .submit-row input {
		padding: 0.55rem;
	}
}

/* Tablet */
@media (600px <= width < 900px) {
	.login #container {
		max-width: 60% !important;
	}
	.login .submit-row input {
		padding: 0.55rem;
	}
}

/* Small Devices */
@media (900px <= width < 1200px) {
	.login #container {
		max-width: 40% !important;
	}
}

/* Medium Desktop */
@media (1200px <= width < 1400px) {
	.login #container {
		max-width: 35% !important;
	}
}

/* Big Desktop */
@media (1400px <= width < 1600px) {
	.login #container {
		max-width: 30% !important;
	}
}
