{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate "Offers" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Offers" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {% translate "Offers" %}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="text-end">
    <a id="create_new_shipping_method" href="{% url "dashboard:offer-metadata" %}" class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> 
      {% translate "Create new offer" %}
    </a>
  </div>

  <div class="card">
    <span class="card-header icon-link fw-normal">
      <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> 
      {% translate "Search" %}
    </span>
    <div class="card-body">
      <div class="vstack gap-3">
        {% crispy form %}
        {% if search_filters %}
          <div class="gap-2 hstack">
            <label>Filters:</label>
            {% for filter in search_filters %}<span class="badge bg-success">{{ filter }}</span>{% endfor %}
          </div>
        {% endif %}
        {# Search modal, if there are form errors the form is automatically openend #}
        {% include "oscar/dashboard/partials/advanced_search_modal.html" with form=advanced_form extra_css="modal-lg" %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header icon-link fw-normal">
      <iconify-icon icon="streamline:discount-percent-coupon" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% if search_filters %}
        {% translate "Offer Search Results" %}
      {% else %}
        {% translate "All Offers" %}
      {% endif %}
    </div>
    <div class="card-body">
      {% if offers %}
        <form method="post" class="table-card table-responsive-md">
          {% csrf_token %}
          <table class="table table-bordered table-hover align-middle">
            <thead>
              <tr>
                <th>{% anchor "name" _("Offer name") %}</th>
                <th>{% anchor "offer_type" _("Offer type") %}</th>
                {% if form.is_bound %}
                  {% if form.is_voucher_offer_type or not form.cleaned_data.offer_type %}
                    <th>{% translate "Num of vouchers" %}</th>
                  {% endif %}
                {% endif %}
                <th>{% anchor "start_datetime" _("Start date") %}</th>
                <th>{% anchor "end_datetime" _("End date") %}</th>
                <th>{% translate "Priority" %}</th>
                <th>{% translate "Incentive" %}</th>
                <th>{% translate "Condition" %}</th>
                <th>{% translate "Is available?" %}</th>
                <th>{% translate "Restrictions" %}</th>
                <th>{% anchor "num_applications" _("Uses") %}</th>
                <th>{% anchor "total_discount" _("Cost") %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for offer in offers %}
                <tr>
                  <td>
                    <a href="{% url "dashboard:offer-detail" pk=offer.pk %}">{{ offer.name }}</a>
                  </td>
                  <td>{{ offer.offer_type }}</td>
                  {% if form.is_bound %}
                    {% if form.is_voucher_offer_type or not form.cleaned_data.offer_type %}<td>{{ offer.voucher_count }}</td>{% endif %}
                  {% endif %}
                  <td>{{ offer.start_datetime|default:"-" }}</td>
                  <td>{{ offer.end_datetime|default:"-" }}</td>
                  <td>{{ offer.priority }}</td>
                  <td>{{ offer.benefit.description|safe }}</td>
                  <td>{{ offer.condition.description|safe }}</td>
                  <td>
                    {% if offer.is_available %}
                      <span class="badge bg-success">{% translate "Yes" %}</span>
                    {% else %}
                      <span class="badge bg-danger">{% translate "No" %}</span>
                    {% endif %}
                  </td>
                  <td>
                    {% for restriction in offer.availability_restrictions %}
                      {% if not restriction.is_satisfied %}
                        <label class="badge bg-danger">{{ restriction.description }}</label>
                      {% else %}
                        {{ restriction.description }}
                        <br />
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>{{ offer.num_applications }}</td>
                  <td>{{ offer.total_discount|currency }}</td>
                  <td>
                    <div class="btn-toolbar">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">{% translate "Actions" %}</button>
                        <div class="dropdown-menu dropdown-menu-end"
                             aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url "offer:detail" slug=offer.slug %}">{% translate "Browse" %}</a>
                          <a class="dropdown-item"
                             href="{% url "dashboard:offer-detail" pk=offer.pk %}">{% translate "Stats" %}</a>
                          <a class="dropdown-item"
                             href="{% url "dashboard:offer-metadata" pk=offer.pk %}">{% translate "Edit" %}</a>
                          {% if not offer.voucher_count %}
                            <a class="dropdown-item"
                               href="{% url "dashboard:offer-delete" pk=offer.pk %}">{% translate "Delete" %}</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include "oscar/dashboard/partials/pagination.html" %}
        </form>
      {% else %}
        <div>{% translate "No offers found." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  {% if advanced_form.errors %}
    const myModal = new bootstrap.Modal("#SearchModal", {backdrop: 'static',
      keyboard: false});
    myModal.show();
  {% endif %}
{% endblock onbodyload %}
