{% load i18n %}

<div class="card">
    <div class="card-header">
        <iconify-icon icon="fluent:step-16-filled" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
        {% translate "Steps" %}
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-custom list-group-flush">
            {% if step == 2 or step == 3 or step == 4 %}
                <a href="{% if session_offer.pk %}{% url 'dashboard:offer-metadata' pk=session_offer.pk %}{% else %}{% url 'dashboard:offer-metadata' %}{% endif %}" class="list-group-item list-group-item-action">
                    {% translate "1. Name, description and type" %}
                </a>
            {% else %}
                <a class="list-group-item list-group-item-action {% if step == 1 %}active{% else %}disabled text-reset{% endif %}">
                    {% translate "1. Name, description and type" %}
                </a>
            {% endif %}

            {% if step == 3 or step == 4 %}
                <a href="{% if session_offer.pk %}{% url 'dashboard:offer-benefit' pk=session_offer.pk %}{% else %}{% url 'dashboard:offer-benefit' %}{% endif %}" class="list-group-item list-group-item-action">
                    {% translate "2. Incentive" %}
                </a>
            {% else %}
                <a class="list-group-item list-group-item-action {% if step == 2 %}active{% else %}disabled text-reset{% endif %}">
                    {% translate "2. Incentive" %}
                </a>
            {% endif %}

            {% if step == 4 %}
                <a href="{% if session_offer.pk %}{% url 'dashboard:offer-condition' pk=session_offer.pk %}{% else %}{% url 'dashboard:offer-condition' %}{% endif %}" class="list-group-item list-group-item-action">
                    {% translate "3. Condition" %}
                </a>
            {% else %}
                <a class="list-group-item list-group-item-action {% if step == 3 %}active{% else %}disabled text-reset{% endif %}">
                    {% translate "3. Condition" %}
                </a>
            {% endif %}

            <a class="list-group-item list-group-item-action {% if step == 4 %}active{% else %}disabled text-reset{% endif %}">
                {% translate "4. Restrictions" %}
            </a>
        </div>
    </div>
</div>
