// Variables
$nav-bar-height: 70px;


// TODO: Update the background image URL
.catalogue__bg {
    background-image: url('');
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;


    main {
        margin-top: calc(#{$nav-bar-height} + #{$top-tagbar-height} - 1px);

        .content__wrapper {
            padding: 80px 0;
        }
    }
}
