{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrastyles %}
  {{ block.super }}
{% endblock extrastyles %}
{% block body_class %}
  {{ block.super }} create-page
{% endblock body_class %}
{% block title %}
  {% blocktranslate with name=range.name %}Products in range {{ name }} {% endblocktranslate %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:range-list" %}">{% translate "Ranges" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:range-update" pk=range.id %}">{{ range.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Products" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {{ range.name }}: {% translate "products" %}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        {% block nav_tabs %}
          <li class="nav-item">
            <a class="nav-link active"
               href="#included"
               id="products-included"
               data-bs-toggle="tab"
               data-bs-target="#products-included-pane"
               role="tab"
               aria-controls="products-included-pane"
               aria-selected="true">{% translate "Products in range" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#excluded"
               id="products-excluded"
               data-bs-toggle="tab"
               data-bs-toggle="tab"
               data-bs-target="#products-excluded-pane"
               role="tab"
               aria-controls="products-excluded-pane"
               aria-selected="false">{% translate "Products excluded from range" %}</a>
          </li>
        {% endblock nav_tabs %}
      </ul>
    </div>
    <div class="card-body tab-content">
      <div class="tab-pane fade show active"
           id="products-included-pane"
           role="tabpanel"
           aria-labelledby="products-included"
           tabindex="0">
        {% if range.includes_all_products %}
          <span class="card-text">{% translate "This range contains all products. To add products manually, please unselect the \"Includes All Products\" option on the edit range page." %}</span>
        {% else %}
          <div class="vstack row-gap-3">
            <div class="card">
              <div class="card-header">
                <iconify-icon icon="gridicons:create" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                {% translate "Add products" %}
              </div>
              <div class="card-body">{% crispy form %}</div>
            </div>
            {% with uploads=file_uploads_included %}
              {% if uploads %}
                <div class="card">
                  <div class="card-header icon-link">
                    <iconify-icon icon="material-symbols:history" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                    {% translate "Upload history" %}
                  </div>
                  <div class="card-body p-0">
                    <div class="table-card table-responsive-md">
                      <table class="table table-bordered table-hover ">
                        <thead>
                          <tr>
                            <td>{% translate "Filename" %}</td>
                            <td>{% translate "New products" %}</td>
                            <td>{% translate "Duplicate products" %}</td>
                            <td>{% translate "Unknown products" %}</td>
                            <td>{% translate "Date uploaded" %}</td>
                          </tr>
                        </thead>
                        <tbody>
                          {% for upload in uploads %}
                            <tr>
                              <td>{{ upload.filepath }}</td>
                              <td>{{ upload.num_new_skus }}</td>
                              <td>{{ upload.num_duplicate_skus }}</td>
                              <td>{{ upload.num_unknown_skus }}</td>
                              <td>{{ upload.date_uploaded }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endwith %}
            <div class="card">
              <div class="card-header hstack justify-content-between align-items-center">
                <div class="icon-link">
                  <iconify-icon icon="icomoon-free:enter" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                  {% translate "Products into the range" %}
                </div>
                {% if products %}
                  <div>
                    <input type="hidden" name="action" value="remove_selected_products" />
                    <button type="submit"
                            class="btn btn-secondary"
                            data-loading-text="{% translate "Removing..." %}">
                      {% translate "Remove selected products" %}
                    </button>
                  </div>
                {% endif %}
              </div>
              <div class="card-body">
                {% if products %}
                  <form method="post" class="table-card table-responsive-md">
                    {% csrf_token %}
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th></th>
                          <th>{% translate "UPC" %}</th>
                          <th>{% translate "Title" context "Product title" %}</th>
                          <th>{% translate "Is product discountable?" %}</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="product_list">
                        {% for product in products %}
                          <tr id="product_{{ product.pk }}">
                            <td>
                              <input type="checkbox" name="selected_product" value="{{ product.id }}" />
                            </td>
                            <td>{{ product.upc|default:"-" }}</td>
                            <td>
                              <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">{{ product.get_title }}</a>
                            </td>
                            <td>
                              {% if product.is_discountable %}
                                {% translate "Yes" %}
                              {% else %}
                                {% translate "No" %}
                              {% endif %}
                            </td>
                            <td>
                              <a class="btn btn-danger" href="#" data-behaviours="remove">{% translate "Remove" %}</a>
                              {% if range.is_reorderable %}
                              <a href="#" class="btn btn-info btn-handle"><i class="fas fa-arrows-alt"></i>
                              {% translate "Re-order" context "Change the sequence order" %}
                            </a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% include "oscar/dashboard/partials/pagination.html" %}
              </form>
            {% else %}
              <div>{% translate "No products found." %}</div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="tab-pane fade"
       id="products-excluded-pane"
       role="tabpanel"
       aria-labelledby="products-excluded"
       tabindex="0">
    <div class="container-fluid">
      {% crispy form_excluded %}
      {% with uploads=file_uploads_excluded %}
        {% if uploads %}
          <div class="table-header">
            <h3>{% translate "Upload history" %}</h3>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>{% translate "Filename" %}</th>
                <th>{% translate "New products" %}</th>
                <th>{% translate "Duplicate products" %}</th>
                <th>{% translate "Unknown products" %}</th>
                <th>{% translate "Date uploaded" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for upload in uploads %}
                <tr>
                  <td>{{ upload.filepath }}</td>
                  <td>{{ upload.num_new_skus }}</td>
                  <td>{{ upload.num_duplicate_skus }}</td>
                  <td>{{ upload.num_unknown_skus }}</td>
                  <td>{{ upload.date_uploaded }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endwith %}
      {% if range.excluded_products.count %}
        <form method="post">
          {% csrf_token %}
          <table class="table table-bordered table-hover">
            <caption>
              <h3 class="float-left">{% translate "Products excluded from range" %}</h3>
              <div class="float-right">
                <input type="hidden" name="action" value="remove_excluded_products" />
                <button type="submit"
                        class="btn btn-secondary"
                        data-loading-text="{% translate "Removing..." %}">
                  {% translate "Remove selected excluded products" %}
                </button>
              </div>
            </caption>
            <thead>
              <tr>
                <th></th>
                <th>{% translate "UPC" %}</th>
                <th>{% translate "Title" context "Product title" %}</th>
                <th>{% translate "Is product discountable?" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="product_list">
              {% for product in range.excluded_products.all %}
                <tr id="product_{{ product.pk }}">
                  <td>
                    <input type="checkbox" name="selected_product" value="{{ product.id }}" />
                  </td>
                  <td>{{ product.upc|default:"-" }}</td>
                  <td>
                    <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">{{ product.get_title }}</a>
                  </td>
                  <td>
                    {% if product.is_discountable %}
                      {% translate "Yes" %}
                    {% else %}
                      {% translate "No" %}
                    {% endif %}
                  </td>
                  <td>
                    <a class="btn btn-danger" href="#" data-behaviours="remove">{% translate "Remove" %}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      {% endif %}
    </div>
  </div>
</div>
</div>
<div class="form-actions-fixed align-items-center bg-dark column-gap-4 fixed-bottom hstack justify-content-end p-3">
  <a href="{% url 'dashboard:range-update' pk=range.id %}"
     class="btn btn-darken-primary icon-link">
    {% translate "Return to edit range" %}
    <iconify-icon icon="tabler:arrow-back" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
  </a>
  <a href="{% url 'dashboard:range-list' %}"
     class="btn btn-secondary icon-link">
    {% translate "Return to range list" %}
    <iconify-icon icon="tabler:arrow-back" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
  </a>
</div>
{% endblock dashboard_content %}
{% block extrascripts %}
  {{ block.super }}
  {% comment %} <script src="{% static "js/quill.min.js" %}" defer></script> {% endcomment %}
{% endblock extrascripts %}
{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.ranges.init();
  oscar.dashboard.reordering.init({
  wrapper: '.product_list',
  submit_url: '{% url 'dashboard:range-reorder' pk=range.id %}'
  });
{% endblock onbodyload %}
