{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}

{% block title %}
  {% translate "Ranges" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Ranges" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
  <div class="hstack justify-content-between align-items-center">
    <h2 class="mb-0">{% translate "Ranges" %}</h2>
    <a href="{% url "dashboard:range-create" %}"
       class="btn btn-primary icon-link"><iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Create new range" %}</a>
  </div>
{% endblock main_header %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header icon-link fw-normal">
      <iconify-icon icon="fe:elipsis-h" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Ranges" %}
    </div>
    <div class="card-body {% if ranges %}p-0{% endif %}">
      {% if ranges %}
        <div class="table-container table-responsive-md">
          <table class="align-middle table table-hover table-bordered">
            <thead>
              <tr>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Num products" %}</th>
                <th>{% translate "Is public?" %}</th>
                <th>{% translate "Date created" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for range in ranges %}
                <tr>
                  <td>
                    {% if range.is_editable %}
                      <a href="{% url "dashboard:range-update" pk=range.id %}">{{ range.name }}</a>
                    {% else %}
                      {{ range.name }}
                    {% endif %}
                  </td>
                  {% if range.includes_all_products %}
                    <td>{% translate "All" %}</td>
                  {% else %}
                    <td>{{ range.num_products|default:"-" }}</td>
                  {% endif %}
                  {% if range.is_public %}
                    <td>{% translate "Yes" %}</td>
                  {% else %}
                    <td>{% translate "No" %}</td>
                  {% endif %}
                  <td>{{ range.date_created }}</td>
                  <td>
                    <div class="btn-toolbar">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">{% translate "Actions" %}</button>
                        <div class="dropdown-menu dropdown-menu-end"
                             aria-labelledby="dropdownMenuButton">
                          {% if range.is_editable %}
                            <a class="dropdown-item"
                               href="{% url "dashboard:range-update" pk=range.id %}">{% translate "Edit" %}</a>
                            {% if not range.includes_all_products %}
                              <a class="dropdown-item"
                                 href="{% url "dashboard:range-products" pk=range.id %}">{% translate "Edit products" %}</a>
                            {% endif %}
                          {% endif %}
                          {% if range.is_public %}
                            <a class="dropdown-item" href="{{ range.get_absolute_url }}">{% translate "View on site" %}</a>
                          {% endif %}
                          <a class="dropdown-item"
                             href="{% url "dashboard:range-delete" pk=range.id %}">{% translate "Delete" %}</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% include "oscar/dashboard/partials/pagination.html" %}
      {% else %}
        <div>{% translate "No ranges found." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}
