{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrastyles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/x-scss" href="{% static "scss/dashboard/product.scss" %}" />
{% endblock extrastyles %}

{% block body_class %}
  {{ block.super }} create-page
{% endblock body_class %}

{% block title %}
  {% blocktranslate with name=range.name %}Products in range {{ name }} {% endblocktranslate %} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:range-list" %}">{% translate "Ranges" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:range-update" pk=range.id %}">{{ range.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Products" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {{ range.name }}: {% translate "products" %}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="card card-body form-steps"  data-behaviour="tab-nav-errors">
    <div class="step-arrow-nav mb-4">
      <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="products-included" data-bs-toggle="pill" data-bs-target="#products-included-pane" type="button" role="tab" aria-controls="products-included-pane" aria-selected="true" data-position="0" tabindex="-1">
            {% translate "Products in range" %}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link " id="products-excluded" data-bs-toggle="pill" data-bs-target="#products-excluded-pane" type="button" role="tab" aria-controls="products-excluded-pane" aria-selected="false" data-position="1">
            {% translate "Products excluded from range" %}
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active"
          id="products-included-pane"
          role="tabpanel"
          aria-labelledby="products-included"
          tabindex="0">
        {% if range.includes_all_products %}
          <span class="card-text">{% translate "This range contains all products. To add products manually, please unselect the \"Includes All Products\" option on the edit range page." %}</span>
        {% else %}
          <div class="vstack row-gap-3">
            <div class="card">
              <div class="card-header icon-link">
                <iconify-icon icon="gridicons:create" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                {% translate "Add products" %}
              </div>
              <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                  <input type="hidden" name="action" value="add_products"/>
                  {% crispy form %}
                </form>
              </div>
            </div>
            {% with uploads=file_uploads_included %}
              {% if uploads %}
                <div class="card">
                  <div class="card-header icon-link">
                    <iconify-icon icon="material-symbols:history" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                    {% translate "Upload history" %}
                  </div>
                  <div class="card-body">
                    <div class="table-card table-responsive-md">
                      <table class="table table-hover mb-0 align-middle">
                        <thead>
                          <tr>
                            <td>{% translate "Filename" %}</td>
                            <td>{% translate "New products" %}</td>
                            <td>{% translate "Duplicate products" %}</td>
                            <td>{% translate "Unknown products" %}</td>
                            <td>{% translate "Date uploaded" %}</td>
                          </tr>
                        </thead>
                        <tbody>
                          {% for upload in uploads %}
                            <tr>
                              <td>{{ upload.filepath }}</td>
                              <td>{{ upload.num_new_skus }}</td>
                              <td>{{ upload.num_duplicate_skus }}</td>
                              <td>{{ upload.num_unknown_skus }}</td>
                              <td>{{ upload.date_uploaded }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endwith %}
            <{% if products %}form method="post"{% else %}div{% endif %} class="card">
              <div class="card-header hstack justify-content-between align-items-center">
                <div class="icon-link">
                  <iconify-icon icon="hugeicons:step-into" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                  {% translate "Products into the range" %}
                </div>
                {% if products %}
                  <div>
                    <input type="hidden" name="action" value="remove_selected_products" />
                    <button type="submit"
                            class="btn btn-outline-danger btn-sm"
                            data-loading-text="{% translate "Removing..." %}">
                      {% translate "Remove selected products" %}
                    </button>
                  </div>
                {% endif %}
              </div>
              <div class="card-body">
                {% if products %}
                  <div class="table-card table-responsive-md">
                    {% csrf_token %}
                    <table class="table table-hover mb-0 align-middle">
                      <thead>
                        <tr>
                          <th></th>
                          <th>{% translate "UPC" %}</th>
                          <th>{% translate "Title" context "Product title" %}</th>
                          <th>{% translate "Is product discountable?" %}</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="product_list">
                        {% for product in products %}
                          <tr id="product_{{ product.pk }}">
                            <td>
                              <input type="checkbox" name="selected_product" value="{{ product.id }}" />
                            </td>
                            <td>{{ product.upc|default:"-" }}</td>
                            <td>
                              <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">{{ product.get_title }}</a>
                            </td>
                            <td>
                              {% if product.is_discountable %}
                                {% translate "Yes" %}
                              {% else %}
                                {% translate "No" %}
                              {% endif %}
                            </td>
                            <td>
                              <a class="btn btn-danger btn-sm" href="#" data-behaviours="remove">{% translate "Remove" %}</a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% include "oscar/dashboard/partials/pagination.html" %}
                  </div>
                {% else %}
                  <div>{% translate "No products found." %}</div>
                {% endif %}
              </div>
            </{% if products %}form{% else %}div{% endif %}>
          </div>
        {% endif %}
      </div>            
      <div class="tab-pane fade" id="products-excluded-pane" role="tabpanel" aria-labelledby="products-excluded" tabindex="0">
        <div class="vstack row-gap-3">
          <div class="card">
            <div class="card-header icon-link">
              <iconify-icon icon="gridicons:create" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
              {% translate "Add products" %}
            </div>
            <div class="card-body">
              <form method="post"enctype="multipart/form-data">
                <input type="hidden" name="action" value="add_excluded_products"/>
                {% crispy form_excluded %}
              </form>
            </div>
          </div>
          {% with uploads=file_uploads_excluded %}
              {% if uploads %}
                <div class="card">
                  <div class="card-header icon-link">
                    <iconify-icon icon="material-symbols:history" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                    {% translate "Upload history" %}
                  </div>
                  <div class="card-body">
                    <div class="table-card table-responsive-md">
                      <table class="table table-hover mb-0 align-middle">
                        <thead>
                          <tr>
                            <td>{% translate "Filename" %}</td>
                            <td>{% translate "New products" %}</td>
                            <td>{% translate "Duplicate products" %}</td>
                            <td>{% translate "Unknown products" %}</td>
                            <td>{% translate "Date uploaded" %}</td>
                          </tr>
                        </thead>
                        <tbody>
                          {% for upload in uploads %}
                            <tr>
                              <td>{{ upload.filepath }}</td>
                              <td>{{ upload.num_new_skus }}</td>
                              <td>{{ upload.num_duplicate_skus }}</td>
                              <td>{{ upload.num_unknown_skus }}</td>
                              <td>{{ upload.date_uploaded }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endwith %}
          {% if range.excluded_products.count %}
            <form method="post" class="card">
              <div class="card-header hstack justify-content-between align-items-center">
                <div class="icon-link">
                  <iconify-icon icon="hugeicons:step-out" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                  {% translate "Products excluded from range" %}
                </div>
                <div>
                  <input type="hidden" name="action" value="remove_excluded_products" />
                  <button type="submit"
                          class="btn btn-outline-danger btn-sm"
                          data-loading-text="{% translate "Removing..." %}">
                    {% translate "Remove selected excluded products" %}
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="table-card table-responsive-md">
                  {% csrf_token %}
                  <table class="table table-hover mb-0 align-middle">
                    <thead>
                      <tr>
                        <th></th>
                        <th>{% translate "UPC" %}</th>
                        <th>{% translate "Title" context "Product title" %}</th>
                        <th>{% translate "Is product discountable?" %}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="product_list">
                      {% for product in range.excluded_products.all %}
                        <tr id="product_{{ product.pk }}">
                          <td>
                            <input type="checkbox" name="selected_product" value="{{ product.id }}" />
                          </td>
                          <td>{{ product.upc|default:"-" }}</td>
                          <td>
                            <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">{{ product.get_title }}</a>
                          </td>
                          <td>
                            {% if product.is_discountable %}
                              {% translate "Yes" %}
                            {% else %}
                              {% translate "No" %}
                            {% endif %}
                          </td>
                          <td>
                            <a class="btn btn-danger btn-sm" href="#" data-behaviours="remove">{% translate "Remove" %}</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>  
              </div>  
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% block fixed_actions_group %}
    <div class="form-actions-fixed align-items-center bg-dark column-gap-4 fixed-bottom hstack justify-content-end p-3">
      <a href="{% url 'dashboard:range-list' %}" class="btn btn-outline-light">
        {% translate "Return to range list" %}
      </a>
      <a href="{% url 'dashboard:range-update' pk=range.id %}" class="btn btn-primary">
        {% translate "Return to edit range" %}
      </a>
    </div>
  {% endblock fixed_actions_group %}

{% endblock dashboard_content %}

{% block extrascripts %}
  {{ block.super }}
  <script src="{% static "js/components/form-wizard.init.js" %}" defer></script>
{% endblock extrascripts %}

{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.ranges.init();
{% endblock onbodyload %}
