{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}

{% block title %}
  {% translate "Ranges" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Ranges" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block main_header_content %}
  {% translate "Ranges" %}
{% endblock main_header_content %}

{% block dashboard_content %}
  <div class="text-end">
    <a href="{% url "dashboard:range-create" %}"
        class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Create new range" %}
    </a>
  </div>
  <div class="card">
    <div class="card-header icon-link fw-normal">
      <iconify-icon icon="uit:layer-group" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Ranges" %}
    </div>
    <div class="card-body">
      {% if ranges %}
        <div class="table-card table-responsive-md">
          <table class="table table-hover mb-0 align-middle">
            <thead>
              <tr>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Num products" %}</th>
                <th>{% translate "Is public?" %}</th>
                <th>{% translate "Date created" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for range in ranges %}
                <tr>
                  <td>
                    {% if range.is_editable %}
                      <a href="{% url "dashboard:range-update" pk=range.id %}">{{ range.name }}</a>
                    {% else %}
                      {{ range.name }}
                    {% endif %}
                  </td>
                  {% if range.includes_all_products %}
                    <td>{% translate "All" %}</td>
                  {% else %}
                    <td>{{ range.num_products|default:"-" }}</td>
                  {% endif %}
                  {% if range.is_public %}
                    <td>{% translate "Yes" %}</td>
                  {% else %}
                    <td>{% translate "No" %}</td>
                  {% endif %}
                  <td>{{ range.date_created }}</td>
                  <td>
                    <div class="row g-2">
                      {% if range.is_public %}
                        <div class="col-auto">
                          <a class="badge bg-success-subtle text-success fs-13" href="{{ record.get_absolute_url }}">
                            {% translate "View on shop" %}
                          </a>
                        </div>
                      {% endif %}
                      {% if range.is_editable %}
                        <div class="col-auto">
                            <a class="badge bg-primary-subtle text-primary fs-13" href="{% url "dashboard:range-update" pk=range.id %}">
                              {% translate "Edit" %}
                            </a>
                        </div>
                        {% if not range.includes_all_products %}
                          <div class="col-auto">
                            <a class="badge bg-info-subtle text-info fs-13" href="{% url "dashboard:range-products" pk=range.id %}">
                              {% translate "Edit products" %}
                            </a>
                          </div>
                        {% endif %}
                      {% endif %}
                      <div class="col-auto">
                          <a class="badge bg-danger-subtle text-danger fs-13" data-bs-pk="{{ range.id }}" data-bs-name="{{ range.name }}" data-bs-toggle="modal" href="#deleteModal">
                            {% translate "Delete" %}
                          </a>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% include "oscar/dashboard/partials/pagination.html" %}
        {% include "oscar/partials/delete_modal.html" with body_title="Remove Range" body_text="Are you sure to remove the range:" %}
      {% else %}
        <div>{% translate "No ranges found." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}

{% block onbodyload %}
  {{ block.super }}
  {% if ranges %}
    oscar.dashboard.initDeleteModal('{% url "dashboard:range-delete" pk=9999 %}', '9999')
  {% endif %}
{% endblock onbodyload %}
