{% load i18n %}
{% load crispy_forms_tags %}

<div class="modal fade"
     id="SearchModal"
     role="dialog"
     data-bs-backdrop="static"
     tabindex="-1"
     aria-labelledby="SearchModalLabel"
     aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="SearchModalLabel" class="modal-title">{% translate "Advanced Search" %}</h3>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container row">{{ form|crispy }}</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
        <button type="submit"
                class="btn btn-darken-primary"
                data-loading-text="{% translate "Searching..." %}">{% translate "Search" %}</button>
      </div>
    </div>
  </div>
</div>
