{% load i18n %}
{% load crispy_forms_tags %}

<form {% if form_id %}id="{{ form_id }}"{% endif %}
      class="{{ class }}"
      method="{{ method|default:"post" }}"
      {% if action %}action="{{ action }}"{% endif %}
      {% if includes_files %}enctype="multipart/form-data"{% endif %}>
  {% if not method == "get" %}
    {% csrf_token %}
  {% endif %}
  {% crispy form %}
  <div class="form-actions-fixed align-items-center bg-dark column-gap-4 fixed-bottom hstack justify-content-end p-3">
    <button type="button" class="btn btn-secondary" onclick="window.history.go(-1);return false">{% translate "Cancel" %}</button>
    <button type="submit" class="btn btn-darken-primary" data-loading-text="{% translate 'Saving...' %}">{% translate "Save" %}</button>
  </div>
</form>
