{% load i18n %}
{% load crispy_forms_tags %}

{% if form.is_bound and not form.is_valid %}
  <div class="alert alert-danger">
    <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
  </div>
{% endif %}
{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger icon-link">
      <iconify-icon icon="fa:exclamation-triangle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {{ error }}
    </div>
  {% endfor %}
{% endif %}
{% for field in form %}{{ field|as_crispy_field }}{% endfor %}
