{% block sidebar %}
  <aside>
    {% dashboard_navigation user as nav_items %}
    <nav class="navbar navbar-expand-md navbar--custom px-4">
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#menu_offcanvas"
              aria-controls="menu_offcanvas"
              aria-label="Toggle administration menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start"
           tabindex="-1"
           data-bs-scroll="true"
           id="menu_offcanvas"
           aria-labelledby="menu__offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="menu__offcanvasLabel">{{ shop_name }}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  data-bs-target="#menu_offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            {% for item in nav_items %}
              <li class="nav-item {% if item.has_children %}dropdown{% endif %} ">
                <a class="nav-link icon-link {% if forloop.first %}ps-md-0{% endif %} {% if item.has_children %}dropdown-toggle{% endif %}"
                   href="{% if item.is_heading %}#{% else %}{{ item.url }}{% endif %}"
                   {% if item.has_children %} id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>
                  {% if item.icon %}
                    <iconify-icon icon="{{ item.icon }}" aria-hidden="true" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                  {% endif %}
                  {{ item.label }}
                </a>
                {% if item.has_children %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for subitem in item.children %}
                      <a class="dropdown-item icon-link" href="{{ subitem.url }}">
                        {% if subitem.icon %}
                          <iconify-icon icon="{{ subitem.icon }}" aria-hidden="true" width="1rem" height="1rem"></iconify-icon>
                        {% endif %}
                        {{ subitem.label }}
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </aside>
{% endblock sidebar %}
