/* Paddings for nabvar icon */
.navbar {
  --bs-navbar-toggler-padding-y: none;
  --bs-navbar-toggler-padding-x: none;
}

/* Navbar custom icon links */
.icon-link-hover--custom {
  --bs-icon-link-transform: scale(1.1)
}
