{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load i18n %}

{% block body_class %}
  {{ block.super }} users
{% endblock body_class %}
{% block title %}
  {{ customer.email }} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:users-index' %}">{% translate "Customers" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ customer.email }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {{ customer.email }}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="row">
    {% block user_general_info %}
      <div class="col-md-12">
        <div class="table-header">
          <h2>{% translate "General" %}</h2>
        </div>
        <table class="align-middle table table-bordered">
          <tr>
            <th>{% translate "Name" %}</th>
            <td>{{ customer.get_full_name|default:"-" }}</td>
          </tr>
          <tr>
            <th>{% translate "Email" %}</th>
            <td>{{ customer.email }}</td>
          </tr>
          <tr>
            <th>{% translate "Active" %}?</th>
            <td>{{ customer.is_active|yesno:_("Yes,No") }}</td>
          </tr>
          <tr>
            <th>{% translate "Superuser" %}?</th>
            <td>{{ customer.is_superuser|yesno:_("True,False") }}</td>
          </tr>
          <tr>
            <th>{% translate "Staff" %}?</th>
            <td>{{ customer.is_staff|yesno:_("True,False") }}</td>
          </tr>
          <tr>
            <th>{% translate "Last login" %}</th>
            <td>{{ customer.last_login }}</td>
          </tr>
          <tr>
            <th>{% translate "Date joined" %}</th>
            <td>{{ customer.date_joined }}</td>
          </tr>
          {% if customer.userrecord %}
            {% with record=customer.userrecord %}
              <tr>
                <th>{% translate "Products viewed" %}</th>
                <td>{{ record.num_product_views|default:0 }}</td>
              </tr>
              <tr>
                <th>{% translate "Number of orders" %}</th>
                <td>{{ record.num_orders|default:0 }}</td>
              </tr>
              <tr>
                <th>{% translate "Number of ordered items" %}</th>
                <td>{{ record.num_order_items|default:0 }}</td>
              </tr>
              <tr>
                <th>{% translate "Total spent" %}</th>
                <td>{{ record.total_spent|default:0|currency }}</td>
              </tr>
            {% endwith %}
          {% endif %}
          <tr>
            <th>{% translate "Reviews written" %}</th>
            <td>{{ customer.reviews.count }}</td>
          </tr>
          {% if customer.email %}
            <tr>
              <th>{% translate "Actions" %}</th>
              <td>
                <form id="password_reset_form"
                      action="{% url 'dashboard:user-password-reset' pk=customer.id %}"
                      method="post">
                  {% csrf_token %}
                  <button type="submit"
                          class="btn btn-primary"
                          data-loading-text="{% translate "Sending..." %}">
                    {% translate "Send password reset email" %}
                  </button>
                </form>
              </td>
            </tr>
          {% endif %}
        </table>
      </div>
    {% endblock user_general_info %}
  </div>
  <div class="row">
    {% block user_additional_info %}
      <div class="tabbable dashboard col-md-12">
        {% block tab_nav %}
          <ul class="nav nav-tabs mb-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#user_orders" data-toggle="tab">{% translate "Orders" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#user_addresses" data-toggle="tab">{% translate "Addresses" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#user_reviews" data-toggle="tab">{% translate "Reviews" %}</a>
            </li>
          </ul>
        {% endblock tab_nav %}
        <div class="tab-content">
          {% block user_orders %}
            <div id="user_orders" class="tab-pane fade show active" role="tabpanel">
              <table class="align-middle table table-striped table-bordered table-hover">
                <caption>{% translate "Orders" %}</caption>
                {% with orders=customer.orders.all %}
                  {% if orders %}
                    <tr>
                      <th>{% translate "Order Number" %}</th>
                      <th>{% translate "Num items" %}</th>
                      <th>{% translate "Total value" %}</th>
                      <th>{% translate "Date placed" %}</th>
                      <th>{% translate "Status" %}</th>
                      <th></th>
                    </tr>
                    {% for order in orders %}
                      <tr>
                        <td>
                          <a href="{% url 'dashboard:order-detail' order.number %}">{{ order.number }}</a>
                        </td>
                        <td>{{ order.num_items }}</td>
                        <td>{{ order.basket_total_incl_tax|currency }}</td>
                        <td>{{ order.date_placed|date }}</td>
                        <td>{{ order.status|default:"-" }}</td>
                        <td>
                          <a href="{% url 'dashboard:order-detail' number=order.number %}"
                             class="btn btn-info">{% translate "View" %}</a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td>{% translate "This customer has not placed any orders yet." %}</td>
                    </tr>
                  {% endif %}
                {% endwith %}
              </table>
            </div>
          {% endblock user_orders %}
          {% block user_addresses %}
            <div id="user_addresses" class="tab-pane fade" role="tabpanel">
              <h2>{% translate "Addresses" %}</h2>
              <div class="row">
                {% for address in customer.addresses.all %}
                  <div class="col-md-3">
                    <div class="card card-body bg-info">
                      {% for field in address.active_address_fields %}
                        {{ field }}
                        <br />
                      {% endfor %}
                    </div>
                  </div>
                  {% if forloop.counter|divisibleby:4 %}
                  </div>
                  <div class="row">
                  {% endif %}
                {% empty %}
                  <p>{% translate "This customer has not saved any addresses." %}</p>
                {% endfor %}
              </div>
            </div>
          {% endblock user_addresses %}
          {% block user_reviews %}
            <div id="user_reviews" class="tab-pane fade" role="tabpanel">
              <table class="align-middle table table-striped table-bordered table-hover">
                <caption>{% translate "Reviews" %}</caption>
                {% if customer.reviews.count %}
                  <tr>
                    <th>{% translate "Product ID" %}</th>
                    <th>{% translate "Score" %}</th>
                    <th>{% translate "Title" context "Product review title" %}</th>
                    <th>{% translate "Body" %}</th>
                    <th>{% translate "Date created" %}</th>
                  </tr>
                  {% for review in customer.reviews.all %}
                    <tr>
                      <td>{{ review.product_id }}</td>
                      <td>{{ review.score }}</td>
                      <td>{{ review.title }}</td>
                      <td>{{ review.body }}</td>
                      <td>{{ review.date_created }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td>{% translate "This customer has not written any reviews yet." %}</td>
                  </tr>
                {% endif %}
              </table>
            </div>
          {% endblock user_reviews %}
        </div>
      </div>
    </div>
  {% endblock user_additional_info %}
{% endblock dashboard_content %}
