{% extends "oscar/dashboard/table.html" %}

{% load i18n %}

{% block table.caption %}
  <div class="row align-items-center justify-content-start justify-content-md-end">
    <div class="col">{{ block.super }}</div>
    {% comment %} <div class="row col-auto row-cols-lg-auto align-items-center"> {% endcomment %}
    <div class="col-auto col-md-auto">
      <iconify-icon icon="material-symbols:sync-rounded" aria-hidden="true" width="1rem" height="1rem" inline></iconify-icon>
      {% trans "Bulk Actions" %}
    </div>
    <div class="col-12 col-md-auto row align-items-center">
      <label class="col-auto ">{% trans "With selected customers:" %}</label>
      <div class="form-check col-auto">
        <input id="make_active_check"
               class="form-check-input"
               type="radio"
               name="action"
               value="make_active" />
        <label class="form-check-label col-auto" for="make_active_check">{% trans "Make active" %}</label>
      </div>
      <div class="form-check col-auto">
        <input id="make_inactive_check"
               class="form-check-input"
               type="radio"
               name="action"
               value="make_inactive" />
        <label class="form-check-label" for="make_inactive_check">{% trans "Make inactive" %}</label>
      </div>
      <input type="submit"
             value="{% trans "Go!" %}"
             class="btn btn-primary col-auto ms-auto" />
      {% comment %} </div> {% endcomment %}
    </div>
  </div>
{% endblock table.caption %}
