{% extends "oscar/dashboard/table.html" %}

{% load i18n %}

{% block card_header %}
  <div class="card-header">
    <div class="row align-items-center justify-content-end g-2">
      <div class="col text-nowrap">
        {% block card_header_text %}
          {{ block.super }}
        {% endblock card_header_text %}
      </div>
      <div class="col-auto">
        <iconify-icon icon="material-symbols:sync-rounded" aria-hidden="true" width="1rem" height="1rem" inline></iconify-icon>
        {% translate "Bulk Actions" %}
      </div>
      <div class="col-md-auto">
        <div class="row row-cols-sm-auto align-items-center justify-content-start g-3">
          <label class=" col text-break">{% translate "With selected customers:" %}</label>
          <div class="form-check col">
            <input id="make_active_check" class="form-check-input" type="radio" name="action" value="make_active" />
            <label class="form-check-label col-auto" for="make_active_check">{% translate "Make active" %}</label>
          </div>
          <div class="form-check col text-nowrap">
            <input id="make_inactive_check" class="form-check-input" type="radio" name="action" value="make_inactive" />
            <label class="form-check-label" for="make_inactive_check">{% translate "Make inactive" %}</label>
          </div>
          <div class="col-12">
            <input type="submit" value="{% translate "Go!" %}" class="btn btn-darken-primary w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock card_header %}
