{% load i18n %}

<table class="table table-hover mb-0 align-middle">
  <tbody>
    <tr>
      <th>{% translate "Title" %}</th>
      <td>{{ voucher_set.name }}</td>
    </tr>
    <tr>
      <th>{% translate "Start" %}</th>
      <td>{{ voucher_set.start_datetime }}</td>
    </tr>
    <tr>
      <th>{% translate "End" %}</th>
      <td>{{ voucher_set.end_datetime }}</td>
    </tr>
    <tr>
      <th>{% translate "Description" %}</th>
      <td>{{ voucher_set.description }}</td>
    </tr>
    <tr>
      <th>{% translate "Number of coupons" %}</th>
      <td>{{ voucher_set.count }}</td>
    </tr>
    <tr>
      <th>{% translate "Number of offers" %}</th>
      <td>{{ voucher_set.vouchers.first.offers.count|default:0 }}</td>
    </tr>
    <tr>
      <th>{% translate "Status" %}</th>
      <td>
        {% if voucher_set.is_active %}
          <span class="badge bg-success-subtle text-success">{% translate "Active" %}</span>
        {% else %}
          <span class="badge bg-info-subtle text-info">{% translate "Inactive" %}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{% translate "Created" %}</th>
      <td>{{ voucher_set.date_created }}</td>
    </tr>
    <tr>
      <th>{% translate "Usage" %}</th>
      <td>{{ voucher_set.vouchers.first.get_usage_display }}</td>
    </tr>
  </tbody>
</table>
