// Tiny MCE 
.tox.tox-tinymce {
    z-index: $zindex-fixed - 150;
}


// Form errors alerts
.alert > .errorlist {
    margin-bottom: 0;
}

// Inline form-label
.form-label-inline {
    display: flex;
    align-items: center;
    column-gap: .35rem;

    .form-label {
        margin-bottom: 0;
    }
}
