{% extends "oscar/layout.html" %}

{% load i18n %}

{% block title %}
  {{ flatpage.title }} | {{ block.super }}
{% endblock title %}
{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ flatpage.title }}</h2>
    {% if user.is_staff %}
      <a class="icon-link d-none d-md-block"
         href="{% url "dashboard:page-update" pk=flatpage.id %}"><small><iconify-icon icon="fluent:edit-28-filled" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% trans "Edit this page" %}</small></a>
    {% endif %}
  </div>
{% endblock header %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ flatpage.title }}</li>
    </ol>
  </nav>
{% endblock breadcrumb %}
{% block content %}
  <article>{{ flatpage.content }}</article>
{% endblock content %}
