{% extends "oscar/layout.html" %}

{% load i18n %}
{% load product_tags %}

{% block title %}
  {{ offer.name }} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ homepage_url }}">{% translate "Home" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'offer:list' %}">{% translate "Offers" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ offer.name }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {{ offer.name }}
{% endblock headertext %}
{% block content %}
  {% if not offer.is_available %}
    <div class="alert alert-danger">{% translate " This offer is no longer available." %}</div>
  {% endif %}
  {% if upsell_message %}
    <div class="row">
      {% if offer.description %}
        <div class="col-sm-7">
          <p>{{ offer.description|safe }}</p>
        </div>
      {% endif %}
      <div class="col-sm-5">
        <div class="card card-body bg-light">
          <h2 class="mb-0">
            <iconify-icon icon="fa:exclamation-triangle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
            {% translate "What you need to do" %}
          </h2>
          <p>{{ upsell_message }}</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if products %}
    <section>
      <div>
        {% include "oscar/partials/pagination.html" %}
        <ol class="row list-unstyled ms-0 ps-0">
          {% for product in products %}
            <li class="col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>
          {% endfor %}
        </ol>
        {% include "oscar/partials/pagination.html" %}
      </div>
    </section>
  {% else %}
    <p class="nonefound">{% translate "No products found." %}</p>
  {% endif %}
{% endblock content %}
