{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}

{% block title %}
  {{ title }} | {% trans "Create Attribute Option Group" %} | {{ block.super }}
{% endblock title %}
{% block body_class %}
  {{ block.super }} create-page
{% endblock body_class %}
{% block navbar %}
  {% if not is_popup %}{{ block.super }}{% endif %}
{% endblock navbar %}
{% block dashboard_nav %}
  {% if not is_popup %}{{ block.super }}{% endif %}
{% endblock dashboard_nav %}
{% block breadcrumbs %}
  {% if not is_popup %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url "dashboard:catalogue-attribute-option-group-list" %}">{% trans "Attribute Option Group" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
  {% endif %}
{% endblock breadcrumbs %}
{% block headertext %}
  {{ title }}
{% endblock headertext %}
{% block dashboard_content %}
  <form class="card" method="post" data-behaviour="tab-nav-errors">
    {% csrf_token %}
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="productsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active"
             href="#attribute-option-group-detail"
             id="attribute-option-group-detail"
             data-bs-toggle="tab"
             data-bs-target="#attribute-option-group-detail-pane"
             role="tab"
             aria-controls="attribute-option-group-detail-pane"
             aria-selected="true">{% trans "Attribute Option Group details" %}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link"
             href="#attribute-options"
             id="attribute-options"
             data-bs-toggle="tab"
             data-bs-target="#attribute-options-pane"
             role="tab"
             aria-controls="attribute-options-pane"
             aria-selected="false">{% trans "Attribute Options" %}</a>
        </li>
      </ul>
    </div>
    <div class="tab-content card-body">
      {% block tab_content %}
        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="{{ is_popup }}" />{% endif %}
        {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
        {% block attribute_option_group_details %}
          <div class="tab-pane fade show active"
               id="attribute-option-group-detail-pane"
               role="tabpanel"
               aria-labelledby="attribute-option-group-detail"
               tabindex="0">
            <div class="card-text">{% comment %} {% crispy form %}</div> {% endcomment %}
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                  </div>
                {% endfor %}
              {% endif %}
              {% for field in form %}
                {% include "oscar/dashboard/partials/form_field.html" with field=field %}
              {% endfor %}
            </div>
          </div>
        {% endblock attribute_option_group_details %}
        {% block attribute_options %}
          <div class="tab-pane fade card-text"
               id="attribute-options-pane"
               role="tabpanel"
               aria-labelledby="attribute-options"
               tabindex="0">
            <table class="table table-bordered align-middle table-hover mb-0">
              {{ attribute_option_formset.management_form }}
              {{ attribute_option_formset.non_form_errors }}
              <thead>
                <tr>
                  <td class="w-50">{% trans "Option" %}</td>
                  <td class="w-50">{% trans "Delete?" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for attribute_option_form in attribute_option_formset %}
                  <tr>
                    {% for hidden_field in attribute_option_form.hidden_fields %}{{ hidden_field }}{% endfor %}
                    <td>
                      {% include "oscar/dashboard/partials/form_field.html" with field=attribute_option_form.option nolabel=True margin=False %}
                    </td>
                    <td>
                      {% include "oscar/dashboard/partials/form_field.html" with field=attribute_option_form.DELETE nolabel=True margin=False %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endblock attribute_options %}
      {% endblock tab_content %}
    </div>
    {% block fixed_actions_group %}
      <div class="form-actions-fixed align-items-center bg-dark column-gap-4 fixed-bottom hstack justify-content-end p-3">
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        <a class="btn btn-secondary"
           href="#"
           {% if not is_popup %}onclick="window.history.go(-1);return false"{% else %}onclick="window.close();return false;"{% endif %}>
          {% trans "Cancel" %}
        </a>
      </div>
    {% endblock fixed_actions_group %}
  </form>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.product_attributes.init();
{% endblock onbodyload %}
