{% load django_tables2 %}
{% load i18n %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">{% translate "Actions" %}</button>
  <div class="dropdown-menu dropdown-menu-end"
       aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item"
       href="{% url 'dashboard:catalogue-attribute-option-group-update' pk=record.id %}{% querystring %}">
      {% translate "Edit Attribute Option Group" %}
    </a>
    <a class="dropdown-item"
       href="{% url 'dashboard:catalogue-attribute-option-group-delete' pk=record.id %}{% querystring %}">
      {% translate "Delete" %}
    </a>
  </div>
</div>
