{% load django_tables2 %}
{% load i18n %}

<div class="btn-toolbar">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">{% translate "Actions" %}</button>
    <div class="dropdown-menu dropdown-menu-end"
         aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"
         href="{% url 'dashboard:catalogue-category-update' pk=record.id %}">{% translate "Edit category" %}</a>
      <a class="dropdown-item"
         href="{% url 'dashboard:catalogue-category-create-child' parent=record.pk %}">
        {% translate "Add child category" %}
      </a>
      <a class="dropdown-item {% if not record.has_children %}disabled{% endif %}"
         href="{% if not record.has_children %}#{% else %}{% url 'dashboard:catalogue-category-detail-list' pk=record.pk %}{% endif %}">
        {% translate "Edit children" %}
      </a>
      <a class="dropdown-item" href="{{ record.get_absolute_url }}">{% translate "View on site" %}</a>
      <a class="dropdown-item"
         href="{% url 'dashboard:catalogue-category-delete' pk=record.id %}">{% translate "Delete" %}</a>
    </div>
  </div>
</div>
