{% extends "oscar/dashboard/layout.html" %}

{% load category_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}
  {{ block.super }} catalogue
{% endblock body_class %}
{% block title %}
  {% translate "Categories" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Categories" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
  <div class="hstack justify-content-between align-items-center">
    <h4 class="mb-sm-0">{% translate "Categories" %}</h4>
    <a href="{% url "dashboard:catalogue-category-create" %}"
       class="btn btn-primary icon-link"><iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>{% translate "Create new category" %}</a>
  </div>
{% endblock main_header %}
{% block dashboard_content %}
  <div class="alert alert-info">
    <div>
      {% translate "You are editing:" %}
      <strong><a class="link-underline link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
   href="{% url "dashboard:catalogue-category-list" %}">{% translate "Home" %}</a></strong>
      {% if ancestors %}
        &gt;
        {% for ancestor in ancestors %}
          <strong><a href="{% url "dashboard:catalogue-category-detail-list" pk=ancestor.pk %}">{{ ancestor.name }}</a></strong>
          {% if not forloop.last %}>{% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% if child_categories %}
    <div class="card">{% render_table categories %}</div>
  {% else %}
    <div class="card">
      <div class="card-header icon-link">
        <iconify-icon icon="iconamoon:category-fill" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
        {% translate "Categories" %}
      </div>
      <div class="card-body">{% translate "There are no categories." %}</div>
    </div>
  {% endif %}
{% endblock dashboard_content %}
