{% extends "oscar/dashboard/layout.html" %}

{% load category_tags %}
{% load i18n %}

{% block body_class %}
  {{ block.super }} create-page catalogue
{% endblock body_class %}
{% block title %}
  {{ title }} | {% trans "Categories" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:catalogue-category-list" %}">{% trans "Categories" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {{ title }}
{% endblock headertext %}
{% block dashboard_content %}
  <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}"
        method="post"
        class="card"
        enctype="multipart/form-data"
        data-behaviour="tab-nav-errors"
        autocomplete="off">
    {% csrf_token %}
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs"
          id="categoriesTab"
          role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active"
             href="#category-detail"
             id="category-detail"
             data-bs-toggle="tab"
             data-bs-target="#category-detail-pane"
             role="tab"
             aria-controls="category-detail-pane"
             aria-selected="true">{% trans "Category details" %}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link"
             href="#category-seo"
             id="category-seo"
             data-bs-toggle="tab"
             data-bs-target="#category-seo-pane"
             role="tab"
             aria-controls="category-seo-pane"
             aria-selected="false">{% trans "Search engine optimisation" %}</a>
        </li>
      </ul>
    </div>
    <div class="tab-content card-body">
      {% block tab_content %}
        {% block category_details %}
          <div class="tab-pane fade show active" id="category-detail-pane">
            <div class="card-text">
              {% block category_details_content %}
                <span class="text-danger">{{ form.non_field_errors }}</span>
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                {% for field in form.primary_form_fields %}
                  {% if "attr" not in field.id_for_label %}
                    {% include "oscar/dashboard/partials/form_field.html" with field=field %}
                  {% endif %}
                {% endfor %}
              {% endblock category_details_content %}
            </div>
          </div>
        {% endblock category_details %}
        {% block seo %}
          <div class="tab-pane fade" id="category-seo-pane">
            <div class="card-text">
              {% block seo_content %}
                {% for field in form.seo_form_fields %}
                  {% if "attr" not in field.id_for_label %}
                    {% include "oscar/dashboard/partials/form_field.html" with field=field %}
                  {% endif %}
                {% endfor %}
              {% endblock seo_content %}
            </div>
          </div>
        {% endblock seo %}
      {% endblock tab_content %}
    </div>
    {% block fixed_actions_group %}
      <div class="form-actions-fixed align-items-center bg-dark column-gap-4 fixed-bottom hstack justify-content-end p-3">
        <a href="{% url "dashboard:catalogue-category-list" %}">{% trans "Cancel" %}</a>
        <button class="btn btn-secondary"
                name="action"
                type="submit"
                value="continue"
                data-loading-text="{% trans "Saving..." %}">{% trans "Save and continue editing" %}</button>
        <button class="btn btn-primary"
                name="action"
                type="submit"
                value="save"
                data-loading-text="{% trans "Saving..." %}">{% trans "Save" %}</button>
        {% if category %}
          <a class="btn btn-success" href="{{ category.get_absolute_url }}">{% trans "View on site" %}</a>
        {% endif %}
      </div>
    {% endblock fixed_actions_group %}
  </form>
{% endblock dashboard_content %}
