{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
  {% translate "Options" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Options" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %} 
  {% translate "Option" %}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="text-end">
    <a href="{% url "dashboard:catalogue-option-create" %}"
      class="btn btn-primary icon-link"><iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Create new Option" %}</a>
  </div>

  {% block product_list %}
    {% if has_options %}
      <form action="." method="post">
        <div class="card">
          {% csrf_token %}
          {% render_table options %}
        </div>
      </form>
      
      {% include "oscar/partials/delete_modal.html" with body_title="Remove Option" body_text="Are you sure to remove the option:" %}
      
      {% block onbodyload %}
        {{ block.super }}
        oscar.dashboard.initDeleteModal('{% url "dashboard:catalogue-option-delete" pk=9999 %}', '9999')
      {% endblock onbodyload %}
    {% else %}
      <div class="card">
        <div class="card-header fw-normal">{% translate "Options" %}</div>
        <div class="card-body">{% translate "No options found." %}</div>
      </div>
    {% endif %}
  {% endblock product_list %}
{% endblock dashboard_content %}


