{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
  {% trans "Options" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Options" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h2>{% trans "Option" %}</h2>
    <a href="{% url "dashboard:catalogue-option-create" %}"
       class="btn btn-primary icon-link"><iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% trans "Create new Option" %}</a>
  </div>
{% endblock header %}
{% block dashboard_content %}
  {% if options %}
    {% block product_list %}
      <form action="." method="post">
        {% csrf_token %}
        {% render_table options %}
      </form>
    {% endblock product_list %}
  {% else %}
    <p>{% trans "No Option found." %}</p>
  {% endif %}
{% endblock dashboard_content %}
