{% load django_tables2 %}
{% load i18n %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">{% translate "Actions" %}</button>
  <div class="dropdown-menu dropdown-menu-end"
       aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item"
       href="{% url 'dashboard:catalogue-product' pk=record.id %}{% querystring %}">{% translate "Edit" %}</a>
    <a class="dropdown-item" href="{{ record.get_absolute_url }}">{% translate "View on site" %}</a>
    <a class="dropdown-item"
       href="{% url 'dashboard:catalogue-product-delete' pk=record.id %}">{% translate "Delete" %}</a>
  </div>
</div>
