{% extends 'oscar/dashboard/layout.html' %}

{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:catalogue-class-list' %}">{% translate "Product type" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Delete product type?" %}</li>
    </ol>
  </nav>
{% endblock %}
{% block headertext %}{% endblock %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
      {% if disallow %}
        {% translate "Please make sure all products are assigned to another type before deletion." %}
      {% else %}
        <form method="post" class="card card-body bg-light">
          {% csrf_token %}
          {{ form }}
          <p>
            {% blocktranslate with name=object.name %}Delete product type <strong>{{ name }}</strong> - are you sure?{% endblocktranslate %}
          </p>
          <div class="form-actions">
            <button type="submit"
                    class="btn btn-danger"
                    data-loading-text="{% translate 'Deleting...' %}">{% translate "Delete" %}</button>
            {% translate "or" %} <a href="{% url 'dashboard:catalogue-class-list' %}">{% translate "cancel" %}</a>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
