{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Product Type" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
  <div class="hstack justify-content-between align-items-center">
    <h4 class="mb-sm-0">{% translate "Product types" %}</h4>
    <a href="{% url "dashboard:catalogue-class-create" %}"
       class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Create new product type" %}
    </a>
  </div>
{% endblock main_header %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header icon-link">
      <iconify-icon icon="fa-solid:sitemap" aria-hidden="true" width="1rem" height="1rem"></iconify-icon>
      {% translate "Product Types" %}
    </div>
    <div class="card-body {% if classes %}p-0{% endif %}">
      {% if classes %}
        <div class="table-container">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Requires shipping" %}</th>
                <th>{% translate "Track stock?" %}</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for class in classes %}
                <tr>
                  <td>
                    <a href="{% url "dashboard:catalogue-class-update" class.id %}">{{ class.name }}</a>
                  </td>
                  <td>{{ class.requires_shipping|yesno:_("Yes,No") }}</td>
                  <td>{{ class.track_stock|yesno:_("Yes,No") }}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle"
                              type="button"
                              id="dropdownMenuButton"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">{% translate "Actions" %}</button>
                      <ul class="dropdown-menu dropdown-menu-end"
                          aria-labelledby="dropdownMenuButton">
                        <li>
                          <a class="dropdown-item"
                             href="{% url "dashboard:catalogue-class-update" pk=class.id %}">
                            {% translate "Edit product type" %}
                          </a>
                        </li>
                        <li {% if class.products_count %} data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title=" {% blocktranslate count amount=class.products_count %} {{amount}} products are {{ remove_tooltip }} {% plural %} {{amount}} product is {{ remove_tooltip }} {% endblocktranslate %} " {% endif %}>
                          {% comment %} Toggle modal for delete the item {% endcomment %}
                          <button type="button"
                                  class="dropdown-item dropdown__deleteButton"
                                  data-bs-pk="{{ class.id }}"
                                  data-bs-name="{{ class.name }}"
                                  data-bs-toggle="modal"
                                  data-bs-target=".deleteModal"
                                  {% if class.products_count %}disabled{% endif %}>{% translate "Delete" %}</button>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div>{% translate "There are no product types." %}</div>
      {% endif %}
    </div>
  </div>
  {% include "oscar/partials/delete_modal.html" with body_title="Remove Product Type" body_text="Are you sure to remove the product type" %}
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.initDeleteModal('{% url "dashboard:catalogue-class-delete" pk=9999 %}', '9999')
{% endblock onbodyload %}
