{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {{ title }} | {% trans "Create product type" %} | {{ block.super }}
{% endblock title %}
{% block body_class %}
  {{ block.super }} create-page
{% endblock body_class %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:catalogue-class-list" %}">{% trans "Product Type" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {{ title }}
{% endblock headertext %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="productsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button type="button"
                  class="nav-link active"
                  id="product-detail"
                  data-bs-toggle="tab"
                  data-bs-target="#product-detail-pane"
                  role="tab"
                  aria-controls="product-detail-pane"
                  aria-selected="true">{% trans "Product Class details" %}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button type="button"
                  class="nav-link"
                  id="product-attributes"
                  data-bs-toggle="tab"
                  data-bs-target="#product-attributes-pane"
                  role="tab"
                  aria-controls="product-attributes-pane"
                  aria-selected="false">{% trans "Product attributes" %}</button>
        </li>
      </ul>
    </div>
    <div class="tab-content card-body">
      <div class="tab-pane fade show active"
           id="product-detail-pane"
           role="tabpanel"
           aria-labelledby="product-detail"
           tabindex="0">
        <div class="card-text">{% crispy form %}</div>
      </div>
      <div class="tab-pane fade"
           id="product-attributes-pane"
           role="tabpanel"
           aria-labelledby="product-attributes"
           tabindex="0">
        <div class="card-text">
          <table class="table table-striped table-bordered vertical-middle">
            {{ attributes_formset.management_form }}
            {{ attributes_formset.non_form_errors }}
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Code" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Required" %}</th>
                <th>{% trans "Delete?" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for attribute_form in attributes_formset %}
                <tr>
                  {% for hidden_field in attribute_form.hidden_fields %}{{ hidden_field }}{% endfor %}
                  <td>{% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.name nolabel=True %}</td>
                  <td>{% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.code nolabel=True %}</td>
                  <td>
                    {% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.type nolabel=True %}
                    {% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.option_group nolabel=True %}
                  </td>
                  <td>
                    {% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.required nolabel=True %}
                    {{ attribute_form.non_field_errors }}
                  </td>
                  <td>{% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.DELETE nolabel=True %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% comment %} {% block fixed_actions_group %}
      <div class="fixed-bottom">
        <div class="float-end">
          <a href="#" onclick="window.history.go(-1);return false">{% trans "Cancel" %}</a>
          {% trans "or" %}
          <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </div>
      </div>
  {% endblock fixed_actions_group %} {% endcomment %}
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.product_attributes.init();
{% endblock onbodyload %}
{% block extrascripts %}
  {{ block.super }}
{% endblock extrascripts %}
