{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ title }} | {% translate "Create product type" %} | {{ block.super }}
{% endblock title %}
{% block body_class %}
  {{ block.super }} create-page
{% endblock body_class %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:catalogue-class-list" %}">{% translate "Product Types" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {{ title }}
{% endblock main_header_content %}
{% block dashboard_content %}
  <form class="form-steps card" method="post">
    <div class="card-header">
      <h4 class="card-title mb-0">
        {% translate "Create the new product type" %}
      </h4>
    </div>
    <div class="card-body">
      <div class="step-arrow-nav mb-4">
        <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="product-detail-tab" data-bs-toggle="pill" data-bs-target="#product-detail" type="button" role="tab" aria-controls="product-detail" aria-selected="false" data-position="0" tabindex="-1">
                {% translate "Product Attributes" %}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="product-attributes-tab" data-bs-toggle="pill" data-bs-target="#product-attributes" type="button" role="tab" aria-controls="product-attributes" aria-selected="true" data-position="1">
                {% translate "Product Type Details" %}
              </button>
            </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="product-detail" role="tabpanel" aria-labelledby="product-detail-tab">
          {% crispy form %}
          <div class="d-flex align-items-start gap-3 mt-4">
              <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="product-attributes-tab">
                <div class="label-icon align-middle fs-16" >
                  <iconify-icon icon="ri:arrow-right-line" aria-hidden="true"></iconify-icon>
                </div>
                {% translate "Go to next step" %}
              </button>
          </div>
        </div>
        <div class="tab-pane fade" id="product-attributes" role="tabpanel" aria-labelledby="product-attributes-tab">
          <div class="table-responsive-md">
            <table class="table table-bordered table-hover table-nowrap align-middle mb-0">
              {{ attributes_formset.non_form_errors }}
              <thead >
                <tr>
                  <td class="w-25">{% translate "Name" %}</td>
                  <td class="w-25">{% translate "Code" %}</td>
                  <td>{% translate "Type" %}</td>
                  <td>{% translate "Required" %}</td>
                  <td>{% translate "Delete" %}</td>
                </tr>
              </thead>
              <tbody>
                {% for attribute_form in attributes_formset %}
                  <tr>
                    {% for hidden_field in attribute_form.hidden_fields %}{{ hidden_field }}{% endfor %}
                    <td>{% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.name nolabel=True %}</td>
                    <td>{% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.code nolabel=True %}</td>
                    <td>
                      <div class="vstack row-gap-3">
                        {% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.type nolabel=True %}
                        {% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.option_group nolabel=True %}
                      </div>
                    </td>
                    <td>
                      {% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.required nolabel=True %}
                      {{ attribute_form.non_field_errors }}
                    </td>
                    <td>{% include "oscar/dashboard/partials/form_field.html" with field=attribute_form.DELETE nolabel=True %}</td>
                  </tr>
                {% endfor %}
                {{ attributes_formset.management_form }}
              </tbody>
            </table>
          </div>
          <div class="d-flex align-items-start gap-3 mt-4">
            <button type="button" class="btn btn-light btn-label previestab" data-previous="product-detail-tab">
              <iconify-icon icon="ri:arrow-left-line" class="label-icon align-middle fs-16" aria-hidden="true"></iconify-icon>
                {% translate "Back to General" %}
            </button>
            <button type="submit" class="btn btn-success btn-label right ms-auto" data-loading-text="{% translate "Submitting..."%}">
              <iconify-icon icon="ri:arrow-right-line" class="label-icon align-middle fs-16" aria-hidden="true"></iconify-icon>
              {% translate "Submit" %}
            </button>
          </div>
        </div>
      </div>
      {% csrf_token %}    
    </div>
  </form>
{% endblock dashboard_content %}
{% block extrascripts %}
  {{ block.super }}
  <script src="{% static "js/pages/form-wizard.init.js" %}" defer></script>
{% endblock extrascripts %}
{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.product_attributes.init();
{% endblock onbodyload %}
