{% extends "oscar/dashboard/layout.html" %}

{% load dashboard_tags i18n %}

{% block body_class %}
  {{ block.super }} pages
{% endblock body_class %}
{% block title %}
  {% translate "Pages" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Pages" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {% translate "Pages" %}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="text-end">
    <a href="{% url "dashboard:page-create" %}"
       class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> 
      {% translate "Create new page" %}
    </a>
  </div>
  <div class="vstack gap-4">
    <div class="card">
      <span class="icon-link card-header fw-normal">
        <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
        {% translate "Search" %}
      </span>
      <div class="card-body">
        <form method="get">
          <div class="row gy-3 gx-md-3 align-items-center">
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form wrapper_class="mb-0" %}
            <div class="col-auto">
              <button type="submit"
                      class="btn btn-primary icon-link"
                      data-loading-text="{% translate "Searching..." %}">{% translate "Search" %}</button>
            </div>
            <div class="col-auto">
              <a href="{% url 'dashboard:page-list' %}"
                 class="btn btn-secondary"
                 data-loading-text="{% translate "Reseting..." %}">{% translate "Reset" %}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <span class="icon-link card-header fw-normal">
        <iconify-icon icon="mdi:file" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
        {{ queryset_description }}
      </span>
      <div class="card-body">
        {% if flatpage_list %}
          <form method="post" class="table-card table-responsive-md">
            {% csrf_token %}
            <table class="table table-hover align-middle mb-0">
              <thead>
                <tr>
                  <th>{% translate "Title" context "Page title" %}</th>
                  <th>{% translate "URL" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for page in flatpage_list %}
                  <tr>
                    <td>
                      <a href="{% url "dashboard:page-update" pk=page.id %}">{{ page.title }}</a>
                    </td>
                    <td>
                      <a title="{% translate "View on shop" %}"
                         href="{{ page.get_absolute_url }}">{{ page.url }}</a>
                    </td>
                    <td>
                      <div class="row g-2">
                        <div class="col-auto">
                            <a class="badge bg-primary-subtle text-primary fs-13 icon-link" href="{{ page.get_absolute_url }}">
                              {% translate "View on shop" %}
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="badge bg-info-subtle text-info fs-13 icon-link" href="{% url "dashboard:page-update" pk=page.id %}">
                              {% translate "Edit" %}
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="badge bg-danger-subtle text-danger fs-13 icon-link" data-bs-pk="{{ page.id }}" data-bs-name="{{ page.title }}" data-bs-toggle="modal" href="#deleteModal">
                              {% translate "Delete" %}
                            </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include "oscar/dashboard/partials/pagination.html" %}
          </form>
          {% include "oscar/partials/delete_modal.html" with body_title="Remove Page" body_text="Are you sure to remove the page:" %}
        {% else %}
          <div>{% translate "No pages found." %}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock dashboard_content %}


{% block onbodyload %}
  {{ block.super }}
  {% if flatpage_list %}
    oscar.dashboard.initDeleteModal('{% url "dashboard:page-delete" pk=9999 %}', '9999')
  {% endif %}
{% endblock onbodyload %}
