{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrastyles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/quill.snow.css" %}" />
{% endblock extrastyles %}
{% block body_class %}
  {{ block.super }} create-page pages
{% endblock body_class %}
{% block title %}
  {{ title }} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:page-list' %}">{% trans "Pages" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {{ title }}
{% endblock headertext %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header icon-link">
      <iconify-icon icon="iconoir:page" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% trans "Page details" %}
    </div>
    <div class="card-body">
      <form class="wysiwyg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="hstack column-gap-3">
          <button class="btn btn-primary"
                  type="submit"
                  data-loading-text="{% trans "Saving..." %}">{% trans "Save" %}</button>
          <a class="btn btn-secondary" href="{% url 'dashboard:page-list' %}">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock dashboard_content %}
{% block extrascripts %}
  {{ block.super }}
  <script src="{% static 'js/quill.min.js' %}" defer></script>
{% endblock extrascripts %}
