{% extends "admin/base_site.html" %}
{% load static %}


<!-- Estilos css -->
{% block extrastyle %}
{{ block.super }}
<link
    href="{% static 'admin/css/admin.css' %}"
    rel="stylesheet"
/>
<link
    rel="icon"
    href="{% static '/img/favicon.ico' %}"
    type="image/x-icon"
/>
{% endblock %}

<!-- JS -->
{% block extrahead %}

{% endblock %}


<!-- Left header panel -->
{% block branding %}
<a
    href="{% url 'admin:index'%}"
    class="admin__title"
>

    <img
        src="{% static '/img/logo.png' %}"
        alt="Logo"
        class="admin__title__logo"
    />
    <span>{{ site_header }}</span>
</a>
{% endblock %}
