{% load static %}

<aside class="sidebar">
    <!-- Branding section -->
    <section>
        <a
            href="{% url 'admin:index'%}"
            class="admin__title"
        >
            <img
                src="{% static '/img/logo.png' %}"
                alt="{{ site_header }}"
                class="admin__title__logo"
            />
        </a>
        <iconify-icon icon="mdi:home"></iconify-icon>
    </section>

    <!-- Search section -->
    <section>
        <input
            type="search"
            id="nav-filter"
            placeholder="Empiece a escribir para filtrar…"
            aria-label="Filtrar elementos de navegación"
        >
    </section>


    <!-- Appslist section -->
    <section>
        {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
    </section>

    <!-- Profile section -->
    {% if has_permission %}
    <section id="user-tools">

        <!-- Username -->
        <strong>{% firstof user.get_short_name user.get_username %}</strong>

        <!-- Shop url -->
        {% if site_url %}
        <a href="{{ site_url }}">Ir a la tienda</a> /
        {% endif %}

        <!-- Change password -->
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">Cambiar contraseña</a> /
        {% endif %}

        <!-- Logout -->
        <form
            id="logout-form"
            method="post"
            action="{% url 'admin:logout' %}"
        >
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    </section>
    {% endif %}
</aside>
