//Core files
@import "../../libs/bootstrap/scss/functions";
@import "../variables";
@import "../variables-dark";
@import "../../libs/bootstrap/scss/mixins";


// Plugins
@import "../plugins/apexcharts";
// @import "../../libs/apexcharts/apexcharts.css";


//
// index page dashboard
//}

$widths: (4: 4px,
        64: 64%,
        69: 69%,
        77: 77%,
        81: 81%,
        90: 90%,
        96: 96%);

@each $key, $value in $widths {
    .w-#{$key} {
        width: $value;
    }
}

$heights: (255: 255px, 415: 415px, );

@each $key, $value in $heights {
    .h-#{$key} {
        height: $value;
    }
}
