@import "../../libs/dropzone/dropzone.css";
@import "../plugins/sorteable";

/* Add margin and padding to pages with fixed-bottom menú */
main:has(.form-actions-fixed) {
    margin-bottom: 5rem;
}

.tab-pane--details .mb-3:last-of-type, .tab-pane--categories .row:last-of-type :is(.mb-3, .choices) {
    margin-bottom: 0 !important;
}
