{% load i18n %}
{% blocktranslate with range_name=range.name filename=upload.filepath %}
    <div>File <strong>{{ filename }}</strong> processed.</div>
{% endblocktranslate %}

<ul>
    {% if upload.num_new_skus %}
        <li>
            {% blocktranslate with action=action count n=upload.num_new_skus %}
                <strong>{{ n }}</strong> product has been {{ action }}
            {% plural %}
                <strong>{{ n }}</strong> products have been {{ action }}
            {% endblocktranslate %}
        </li>
    {% endif %}
    {% if upload.num_duplicate_skus %}
        <li>
            {% blocktranslate count n=upload.num_duplicate_skus %}
                There was <strong>{{ n }}</strong> duplicate product in the file
            {% plural %}
                There were <strong>{{ n }}</strong> duplicate products in the file
            {% endblocktranslate %}
        </li>
    {% endif %}
    {% if upload.num_unknown_skus %}
        <li>
            {% blocktranslate count n=upload.num_unknown_skus %}
                There was <strong>{{ n }}</strong> product in the file that couldn't be found in the catalogue
            {% plural %}
                There were <strong>{{ n }}</strong> products in the file that couldn't be found in the catalogue
            {% endblocktranslate %}
        </li>
    {% endif %}
</ul>

<div>
    <a href="{% url 'dashboard:range-update' pk=range.pk %}" class="btn btn-success btn-sm">{% translate "Edit range metadata" %}</a>
    <a href="{% url 'dashboard:range-list' %}" class="btn btn-success btn-sm">{% translate "Return to ranges homepage" %}</a>
</div>
