{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body_class %}
  {{ block.super }} orders
{% endblock body_class %}
{% block title %}
  {% translate "Orders" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Orders" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {% translate "Orders" %}
{% endblock main_header_content %}
{% block dashboard_content %}
  <div class="card">
    <span class="card-header icon-link fw-normal">
      <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>{% translate "Search" %}
    </span>
    <div class="card-body">
      {% crispy form %}
      {# Search modal, if there are form errors the form is automatically openend #}
      {% include "oscar/dashboard/partials/advanced_search_modal.html" with form=form %}
      {% if search_filters %}
        <div class="search-filter-list">
          <label>Filters:</label>
          {% for filter in search_filters %}<span class="badge bg-success">{{ filter }}</span>{% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-header hstack justify-content-between">
      <span class="icon-link">
        <iconify-icon icon="fa-solid:shopping-cart" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
        {% if search_filters %}
          {% translate "Order Search Results" %}
        {% else %}
          {% translate "All Orders" %}
        {% endif %}
      </span>
      {% if orders %}
        <div class="hstack column-gap-2">
          <label>{% translate "Download selected orders as a CSV" %}</label>
          <button type="submit"
                  class="btn btn-primary"
                  name="action"
                  value="download_selected_orders"
                  data-loading-text="{% translate "Submitting..." %}">{% translate "Download" %}</button>
        </div>
      {% endif %}
    </div>
    <div class="card-body">
      {% if orders %}
        <form method="post" class="order_table" id="orders_form">
          {% csrf_token %}
          {% block order_list %}
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>{% anchor "number" _("Order number") %}</th>
                  <th>{% anchor "total_incl_tax" _("Total inc tax") %}</th>
                  <th>{% translate "Number of items" %}</th>
                  <th>{% translate "Status" %}</th>
                  <th>{% translate "Customer" %}</th>
                  <th>{% translate "Shipping address" %}</th>
                  <th>{% translate "Billing address" %}</th>
                  <th>{% translate "Date of purchase" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr>
                    <td>
                      <input type="checkbox"
                             name="selected_order"
                             class="selected_order"
                             value="{{ order.id }}" />
                    </td>
                    <td>
                      <a href="{% url "dashboard:order-detail" number=order.number %}">{{ order.number }}</a>
                    </td>
                    <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                    <td>{{ order.num_items }}</td>
                    <td>{{ order.status|default:"-" }}</td>
                    <td>
                      {% if order.guest_email %}
                        {{ order.guest_email }}
                      {% elif order.user %}
                        <a href="{% url "dashboard:user-detail" pk=order.user.id %}">{{ order.user.get_full_name|default:order.user.email }}</a>
                      {% else %}
                        &lt;{% translate "Deleted" %}&gt;
                      {% endif %}
                    </td>
                    <td>{{ order.shipping_address|default:"-" }}</td>
                    <td>{{ order.billing_address|default:"-" }}</td>
                    <td>{{ order.date_placed }}</td>
                    <td>
                      <a class="btn btn-secondary"
                         href="{% url "dashboard:order-detail" number=order.number %}">{% translate "View" %}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endblock order_list %}
          {% block order_actions %}
            <div class="card card-body bg-light">
              <h3>
                <iconify-icon icon="fa:exclamation-triangle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
                {% translate "Change order status" %}:
              </h3>
              {% if order_statuses %}
                <div>
                  <div class="controls">
                    <select name="new_status">
                      <option value="">-- {% translate "choose new status" %} --</option>
                      {% for status in order_statuses %}<option>{{ status }}</option>{% endfor %}
                    </select>
                  </div>
                </div>
                <div class="flex-nowrap">
                  <button type="submit"
                          name="action"
                          value="change_order_statuses"
                          class="btn btn-primary"
                          data-loading-text="{% translate "Changing..." %}">{% translate "Change status" %}</button>
                </div>
              {% else %}
                {% translate "This order can't have its status changed." %}
              {% endif %}
            </div>
          {% endblock order_actions %}
          {% include "oscar/dashboard/partials/pagination.html" %}
        </form>
      {% else %}
        <div>{% translate "No orders found." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.orders.initTable();
  {% if form.errors %}$("#SearchModal").modal("show");{% endif %}
{% endblock onbodyload %}
