{% load crispy_forms_field %}

{# djlint:off #}

{% if field.is_hidden %}
  {{ field }}
{% else %}
  <div class="{{ wrapper_class|default:"mb-3" }} {% if field.css_classes %}{{ field.css_classes }} {% endif %}">
    
    <label {% if field.id_for_label %}for="{{ field.id_for_label }}"{% endif %} class="form-label{% if label_class %} {{ label_class }}{% endif %}{% if field.field.required %} requiredField{% endif %}">
      {{ field.label }}
      {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
    
    <{% if tag %}{{ tag }} {% else %}div{% endif %} id="div_{{ field.auto_id }}" class="django-flatpickr input-group has-validation {% if field.css_classes %}{{ field.css_classes }} {% endif %}">

      {% if field.errors %}
        {% crispy_field field 'class' 'form-control is-invalid' 'placeholder' field.name %}
      {% else %}
        {% crispy_field field 'class' 'form-control' 'placeholder' field.name %}
      {% endif %}



      <button type="button" class="input-group-text" data-toggle>
        <iconify-icon icon="{% if "fa-clock" in icon_classes %}mdi:clock-outline{% else %}clarity:calendar-line{% endif %}" width="1rem" height="1rem"></iconify-icon>
      </button>
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>

    {% include 'bootstrap5/layout/help_text_and_errors.html' %}
  </div>
{% endif %}

{# djlint:on #}
