{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}

{% block body_class %}
  {{ block.super }} create-page
{% endblock body_class %}
{% block title %}
  {{ commtype.name }} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:comms-list" %}">{% translate "Emails" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ commtype.name }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header_content %}
  {{ commtype.name }}
{% endblock main_header_content %}
{% block dashboard_content %}
  <form method="post">
    <div class="tabbable dashboard">
      {% if preview %}
        <ul class="nav nav-tabs mb-0">
          <li>
            <a href="#email_form" data-toggle="tab">{% translate "Edit" %}</a>
          </li>
          <li class="active">
            <a href="#email_preview" data-toggle="tab">{% translate "Preview" %}</a>
          </li>
        </ul>
      {% else %}
        <div class="table-header">
          <h2>
            <i class="fas fa-envelope"></i> {% translate "Edit email" %}
          </h2>
        </div>
      {% endif %}
      <div class="{% if preview %}tab-content{% else %}card card-body{% endif %}">
        <div class="tab-pane {% if not preview %}active{% endif %}"
             id="email_form">
          {% csrf_token %}
          {% include "oscar/dashboard/partials/form_field.html" with field=form.name form_show_errors=True form_show_errors=True %}
          <div class="table-header">
            <h3>{% translate "Email content" %}</h3>
          </div>
          <div class="card card-body">
            <p>{% translate "These fields are rendered using Django's template system." %}</p>
            <p>{% translate "You can use the following variables:" %}</p>
            <dl>
              <dt>
                <code>{% templatetag openvariable %} user.get_full_name {% templatetag closevariable %}</code>
              </dt>
              <dd>
                {% translate "The full name of the user (if they have one)" %}
              </dd>
              <dt>
                <code>{% templatetag openvariable %} user.email {% templatetag closevariable %}</code>
              </dt>
              <dd>
                {% translate "The user's email address" %}
              </dd>
              <dt>
                <code>{% templatetag openvariable %} site.name {% templatetag closevariable %}</code>
              </dt>
              <dd>
                {% translate "The name of the site (eg example.com)" %}
              </dd>
              {% if commtype.is_order_related %}
                <dt>
                  <code>{% templatetag openvariable %} order.number {% templatetag closevariable %}</code>
                </dt>
                <dd>
                  {% translate "Order number" %}
                </dd>
              {% endif %}
            </dl>
          </div>
          {% include "oscar/dashboard/partials/form_field.html" with field=form.email_subject_template form_show_errors=True %}
          {% include "oscar/dashboard/partials/form_field.html" with field=form.email_body_template form_show_errors=True %}
          {% include "oscar/dashboard/partials/form_field.html" with field=form.email_body_html_template form_show_errors=True %}
          <div class="table-header">
            <h3>{% translate "Preview" %}</h3>
          </div>
          <div class="card card-body">
            {% if commtype.is_order_related %}
              <p>{% translate "View a preview of this email using order:" %}</p>
              {% include "oscar/dashboard/partials/form_field.html" with field=form.preview_order_number %}
            {% endif %}
            <button type="submit"
                    class="btn btn-primary"
                    name="show_preview"
                    data-loading-text="{% translate "Submitting..." %}">{% translate "View preview" %}</button>
            <p>{% translate "or send a preview to:" %}</p>
            {% include "oscar/dashboard/partials/form_field.html" with field=form.preview_email %}
            <button type="submit"
                    class="btn btn-secondary"
                    name="send_preview"
                    data-loading-text="{% translate "Sending..." %}">{% translate "Send preview email" %}</button>
          </div>
        </div>
        <div class="tab-pane {% if preview %}active{% endif %}" id="email_preview">
          <table class="table table-striped table-bordered table-hover align-middle">
            <tr>
              <th>{% translate "Subject" %}</th>
              <td>{{ preview.subject }}</td>
            </tr>
            <tr>
              <th>{% translate "Body text" %}</th>
              <td>
                <pre>{{ preview.body }}</pre>
              </td>
            </tr>
            <tr>
              <th>{% translate "Body HTML" %}</th>
              <td>
                <iframe id="preview_box" width="100%" height="400">{{ preview.html }}</iframe>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-actions">
          <button type="submit"
                  class="btn btn-primary"
                  data-loading-text="{% translate "Saving..." %}">{% translate "Save" %}</button>
          {% translate "or" %} <a href="{% url "dashboard:comms-list" %}">{% translate "cancel" %}</a>.
        </div>
      </div>
    </div>
  </form>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  $(function() {
  // Sets the HTML email preview so it"s css doesn"t touch the page.
  var el_preview_html = document.getElementById("preview_box");
  var html = $(el_preview_html).text();
  var doc = el_preview_html.contentWindow.document;
  doc.open();
  doc.write(html);
  doc.close();
  });
{% endblock onbodyload %}
