{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters sorting_tags i18n crispy_forms_tags %}


{% block title %}
  {% translate "Coupons" %} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      {% if form.is_bound %}
        <li class="breadcrumb-item">
          <a href="{% url "dashboard:voucher-list" %}">{% translate "Coupons" %}</a>
        </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{% translate "Coupons" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block main_header_content %}
  {% translate "Coupons" %}
{% endblock main_header_content %}

{% block dashboard_content %}
  <div class="text-end">
    <a href="{% url "dashboard:voucher-create" %}" class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Create new coupon" %}
    </a>
  </div>
  <div class="vstack gap-4">
    {% block search_form %}
      <div class="card">
        <span class="card-header icon-link fw-normal">
          <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Search" %}
        </span>
        <div class="card-body">
          <div class="vstack gap-3">
            {% crispy form %}
            {% if search_filters %}
              <div class="gap-2 hstack">
                <label>Filters:</label>
                {% for filter in search_filters %}<span class="badge bg-success-subtle text-success">{{ filter }}</span>{% endfor %}
              </div>
            {% endif %}
            {# Search modal, if there are form errors the form is automatically openend #}
            {% include "oscar/dashboard/partials/advanced_search_modal.html" with form=advanced_form %}
          </div>
        </div>
      </div>
    {% endblock search_form %}
    {% block voucher_table %}
      <div class="card">
        <span class="card-header icon-link fw-normal">
          <iconify-icon icon="streamline:discount-percent-coupon" width="1rem" height="1rem" aria-hidden="true" inline></iconify-icon>
          {% if search_filters %}
            {% translate "Coupon Search Results" %}
          {% else %}
            {% translate "All Coupons" %}
          {% endif %}
        </span>
        <div class="card-body dropdown">
          {% if vouchers %}
            <div class="table-card table-responsive">
              <table class="table table-hover mb-0 align-middle">
                {% block table_head %}
                  <thead>
                    <tr>
                      <th>{% translate "Name" %}</th>
                      <th>{% translate "Code" %}</th>
                      <th>{% translate "Status" %}</th>
                      <th>{% anchor "num_offers" _("Num Offers") %}</th>
                      <th>{% anchor "num_basket_additions" _("Num baskets") %}</th>
                      <th>{% anchor "num_orders" _("Num orders") %}</th>
                      <th>{% anchor "date_created" _("Date created") %}</th>
                      {% if form.is_bound and form.cleaned_data.in_set is not False %}
                        <th>{% translate "Set" %}</th>
                      {% endif %}
                      <th></th>
                    </tr>
                  </thead>
                {% endblock table_head %}
                <tbody>
                  {% for voucher in vouchers %}
                    {% block table_row %}
                      <tr>
                        <td>
                          <a href="{% url "dashboard:voucher-stats" voucher.id %}">{{ voucher.name }}</a>
                        </td>
                        <td>
                          <span class="badge bg-info-subtle text-info">{{ voucher.code }}</span>
                        </td>
                        <td>
                          {% if voucher.is_active %}
                            <span class="badge bg-success-subtle text-success">{% translate "Active" %}</span>
                          {% else %}
                            <span class="badge bg-info-subtle text-info">{% translate "Inactive" %}</span>
                          {% endif %}
                        </td>
                        <td>{{ voucher.num_offers }}</td>
                        <td>{{ voucher.num_basket_additions }}</td>
                        <td>{{ voucher.num_orders }}</td>
                        <td>{{ voucher.date_created }}</td>
                        {% if form.is_bound and form.cleaned_data.in_set is not False %}
                          <td>
                            {% if voucher.voucher_set.pk %}
                              <a href="{% url "dashboard:voucher-set-detail" pk=voucher.voucher_set.pk %}">{{ voucher.voucher_set.name }}</a>
                            {% else %}
                              -
                            {% endif %}
                          </td>
                        {% endif %}
                        <td>
                          <div class="row g-2">
                            <div class="col-auto">
                                <a class="badge bg-primary-subtle text-primary fs-13" href="{% url "dashboard:voucher-stats" pk=voucher.id %}">
                                  {% translate "Stats" %}
                                </a>
                            </div>
                            <div class="col-auto">
                              {% if not voucher.voucher_set %}
                                <a class="badge bg-info-subtle text-info fs-13"
                                    href="{% url "dashboard:voucher-update" pk=voucher.id %}">{% translate "Edit" %}</a>
                              {% else %}
                                <a class="badge bg-info-subtle text-info fs-13"
                                    href="{% url "dashboard:voucher-set-update" pk=voucher.voucher_set.pk %}">
                                  {% translate "Edit set" %}
                                </a>
                              {% endif %}
                            </div>
                            <div class="col-auto">
                                <a class="badge bg-danger-subtle text-danger fs-13" data-bs-pk="{{ voucher.id }}" data-bs-name="{{ voucher.name }}" data-bs-toggle="modal" href="#deleteModal">
                                  {% if not voucher.voucher_set %}
                                  {% translate "Delete" %}
                                {% else %}
                                  {% translate "Delete from set" %}
                                {% endif %}
                                </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endblock table_row %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% include "oscar/partials/pagination.html" %}
            {% include "oscar/partials/delete_modal.html" with body_title="Remove Coupon" body_text="Are you sure to remove the coupon:" %}
          {% else %}
            <div>{% translate "No coupons found." %}</div>
          {% endif %}
        </div>
      </div>
    {% endblock voucher_table %}
  </div>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  {% if advanced_form.errors %} 
    const myModal = new bootstrap.Modal("#SearchModal", {
        backdrop: 'static',
        keyboard: false
    });
    myModal.show();
  {% endif %}

  {% if vouchers %}
    oscar.dashboard.initDeleteModal('{% url "dashboard:voucher-delete" pk=9999 %}', '9999')
  {% endif %}
{% endblock onbodyload %}
