{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} | {% trans "Vouchers" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:voucher-list' %}">{% trans "Vouchers" %}</a></li>
            {% if voucher %}
                <li class="breadcrumb-item"><a href="{% url 'dashboard:voucher-stats' pk=voucher.id %}">{{ voucher }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">
        <iconify-icon icon="gmdi:euro" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
            {% translate "Voucher details" %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% include "oscar/dashboard/partials/form_fields.html" with form=form %}
            {% block form_actions %}
                <div class="hstack gap-3">
                    <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                    <a class="btn btn-secondary" href="{% url 'dashboard:voucher-list' %}">{% trans "Cancel" %}</a>
                </div>
            {% endblock form_actions %}
        </form>
    </div>
</div>
{% endblock dashboard_content %}
