{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% load crispy_forms_tags %}


{% block title %}
  {% trans "Vouchers" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
      </li>
      {% if form.is_bound %}
        <li class="breadcrumb-item">
          <a href="{% url "dashboard:voucher-list" %}">{% trans "Vouchers" %}</a>
        </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{% trans "Vouchers" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block header %}
  <div class="d-flex justify-content-between align-items-center">
    <h2>{% trans "Vouchers" %}</h2>
    <a href="{% url "dashboard:voucher-create" %}"
       class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% trans "Create new voucher" %}
    </a>
  </div>
{% endblock header %}
{% block dashboard_content %}
  <div class="vstack gap-4">
    {% block search_form %}
      <div class="card">
        <h5 class="card-header icon-link">
          <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% trans "Search" %}
        </h5>
        <div class="card-body">
          <div class="vstack gap-3">
          {% crispy form %}

          {% if search_filters %}
            <div class="gap-2 hstack">
              <label>Filters:</label>
              {% for filter in search_filters %}<span class="badge bg-success">{{ filter }}</span>{% endfor %}
            </div>
          {% endif %}

          {# Search modal, if there are form errors the form is automatically openend #}
          {% include "oscar/dashboard/partials/advanced_search_modal.html" with form=advanced_form style="horizontal" %}
          </div>
        </div>
      </div>
    {% endblock search_form %}
    {% block voucher_table %}
      <div class="card">
        <h5 class="card-header icon-link">
          <iconify-icon icon="la:money-bill-wave" width="1rem" height="1rem" aria-hidden="true" inline></iconify-icon>
          {% if search_filters %}
            {% trans "Voucher Search Results" %}
          {% else %}
            {% trans "All Vouchers" %}
          {% endif %}
        </h5>
        <div class="card-body">
          <table class="table table-striped table-bordered table-hover mb-0">
            {% if vouchers %}
              {% block table_head %}
              <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Code" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th>{% anchor "num_offers" _("Num Offers") %}</th>
                  <th>{% anchor "num_basket_additions" _("Num baskets") %}</th>
                  <th>{% anchor "num_orders" _("Num orders") %}</th>
                  <th>{% anchor "date_created" _("Date created") %}</th>
                  {% if form.is_bound and form.cleaned_data.in_set is not False %}
                    <th>{% trans "Set" %}</th>
                  {% endif %}
                  <th></th>
                </tr>
              </thead>
              {% endblock table_head %}
              <tbody>
                {% for voucher in vouchers %}
                  {% block table_row %}
                    <tr>
                      <td>
                        <a href="{% url "dashboard:voucher-stats" voucher.id %}">{{ voucher.name }}</a>
                      </td>
                      <td>
                        <span class="badge bg-secondary">{{ voucher.code }}</span>
                      </td>
                      <td>
                        {% if voucher.is_active %}
                          <span class="badge bg-success">{% trans "Active" %}</span>
                        {% else %}
                          <span class="badge bg-secondary">{% trans "Inactive" %}</span>
                        {% endif %}
                      </td>
                      <td>{{ voucher.num_offers }}</td>
                      <td>{{ voucher.num_basket_additions }}</td>
                      <td>{{ voucher.num_orders }}</td>
                      <td>{{ voucher.date_created }}</td>
                      {% if form.is_bound and form.cleaned_data.in_set is not False %}
                        <td>
                          {% if voucher.voucher_set.pk %}
                            <a href="{% url "dashboard:voucher-set-detail" pk=voucher.voucher_set.pk %}">{{ voucher.voucher_set.name }}</a>
                          {% else %}
                            -
                          {% endif %}
                        </td>
                      {% endif %}
                      <td>
                        {% block row_actions %}
                          <div class="btn-toolbar">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle"
                                      type="button"
                                      id="dropdownMenuButton"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false">{% trans "Actions" %}</button>
                              <div class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                    href="{% url "dashboard:voucher-stats" pk=voucher.id %}">{% trans "Stats" %}</a>
                                {% if not voucher.voucher_set %}
                                  <a class="dropdown-item"
                                      href="{% url "dashboard:voucher-update" pk=voucher.id %}">{% trans "Edit" %}</a>
                                {% else %}
                                  <a class="dropdown-item"
                                      href="{% url "dashboard:voucher-set-update" pk=voucher.voucher_set.pk %}">
                                    {% trans "Edit set" %}
                                  </a>
                                {% endif %}
                                <a class="dropdown-item"
                                    href="{% url "dashboard:voucher-delete" pk=voucher.id %}">
                                  {% if not voucher.voucher_set %}
                                    {% trans "Delete" %}
                                  {% else %}
                                    {% trans "Delete from set" %}
                                  {% endif %}
                                </a>
                              </div>
                            </div>
                          </div>
                        {% endblock row_actions %}
                      </td>
                    </tr>
                  {% endblock table_row %}
                {% endfor %}
              </tbody>
            {% else %}
              <tbody>
                <tr>
                  <td>{% trans "No vouchers found." %}</td>
                </tr>
              </tbody>
            {% endif %}
          </table>
          {% include "oscar/dashboard/partials/pagination.html" %}
        </div>
      </div>
    {% endblock voucher_table %}
  </div>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  {% if advanced_form.errors %}$("#SearchModal").modal("show");{% endif %}
{% endblock onbodyload %}
