{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load i18n %}

{% block title %}
  {{ voucher }} | {% translate "Vouchers" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:voucher-list" %}">{% translate "Vouchers" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ voucher }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {{ voucher }}
{% endblock headertext %}
{% block dashboard_content %}
  <div class="table-header">
    <h2 class="mb-0">{% translate "Voucher details" %}</h2>
  </div>
  {% include "oscar/dashboard/vouchers/partials/voucher_details_table.html" %}
  <div class="table-header">
    <h2 class="mb-0">{% translate "Attached offers" %}</h2>
  </div>
  <table class="align-middle table table-striped table-bordered table-hover">
    {% if voucher.offers.exists %}
      <thead>
        <tr>
          <th>{% translate "Offer name" %}</th>
          <th>{% translate "Start date" %}</th>
          <th>{% translate "End date" %}</th>
          <th>{% translate "Is available?" %}</th>
          <th>{% translate "Priority" %}</th>
          <th>{% translate "Incentive" %}</th>
          <th>{% translate "Condition" %}</th>
          <th>{% translate "Restrictions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for offer in voucher.offers.all %}
          <tr>
            <td>
              <a href="{% url 'dashboard:offer-detail' pk=offer.pk %}">{{ offer.name }}</a>
            </td>
            <td>{{ offer.start_datetime|default:"-" }}</td>
            <td>{{ offer.end_datetime|default:"-" }}</td>
            <td>
              {% if offer.is_available %}
                <span class="badge bg-success">{% translate "Yes" %}</span>
              {% else %}
                <span class="badge bg-danger">{% translate "No" %}</span>
              {% endif %}
            </td>
            <td>{{ offer.priority }}</td>
            <td>{{ offer.benefit.description|safe }}</td>
            <td>{{ offer.condition.description|safe }}</td>
            <td>
              {% for restriction in offer.availability_restrictions %}
                {% if not restriction.is_satisfied %}
                  <label class="badge bg-danger">{{ restriction.description }}</label>
                {% else %}
                  {{ restriction.description }}
                  <br />
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <tr>
        <td>{% translate "No offers are attached to this voucher." %}</td>
      </tr>
    {% endif %}
  </table>
  <div class="table-header">
    <h2 class="mb-0">{% translate "Voucher performance" %}</h2>
  </div>
  <table class="align-middle table table-striped table-bordered table-hover">
    <tbody>
      <tr>
        <th>{% translate "Number of basket additions" %}</th>
        <td>{{ voucher.num_basket_additions }}</td>
      </tr>
      <tr>
        <th>{% translate "Number of orders" %}</th>
        <td>{{ voucher.num_orders }}</td>
      </tr>
      <tr>
        <th>{% translate "Total discount" %}</th>
        <td>{{ voucher.total_discount|currency }}</td>
      </tr>
    </tbody>
  </table>
  <div class="table-header">
    <h2 class="mb-0">{% translate "Recent orders" %}</h2>
  </div>
  <table class="align-middle table table-striped table-bordered table-hover">
    {% if not discounts %}
      <tr>
        <td>{% translate "No orders have been placed that use this voucher." %}</td>
      </tr>
    {% else %}
      <thead>
        <tr>
          <th>{% translate "Order number" %}</th>
          <th>{% translate "Order total" %}</th>
          <th>{% translate "Discount" %}</th>
          <th>{% translate "Date placed" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for discount in discounts %}
          {% with order=discount.order %}
            <tr>
              <td>
                <a href="{% url 'dashboard:order-detail' number=order.number %}">{{ order.number }}</a>
              </td>
              <td>{{ order.total_incl_tax|currency:order.currency }}</td>
              <td>{{ discount.amount|currency:order.currency }}</td>
              <td>{{ order.date_placed }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
    {% endif %}
  </table>
  <div class="form-actions">
    {% if not voucher.voucher_set %}
      <a class="btn btn-primary"
         href="{% url 'dashboard:voucher-update' pk=voucher.id %}">{% translate "Edit" %}</a> {% translate "or" %}
    {% else %}
      <a class="btn btn-primary"
         href="{% url 'dashboard:voucher-set-update' pk=voucher.voucher_set.pk %}">{% translate "Edit set" %}</a> {% translate "or" %}
    {% endif %}
    <a class="btn btn-danger"
       href="{% url 'dashboard:voucher-delete' pk=voucher.id %}">
      {% if not voucher.voucher_set %}
        {% translate "Delete" %}
      {% else %}
        {% translate "Delete from set" %}
      {% endif %}
    </a> {% translate "or" %}
    <a href="{% if not voucher.voucher_set %}{% url 'dashboard:voucher-list' %}{% else %}{% url 'dashboard:voucher-set-detail' pk=voucher.voucher_set.pk %}{% endif %}">{% translate "cancel" %}</a>
  </div>
{% endblock dashboard_content %}
