{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
  {{ voucher_set.name }} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:voucher-set-list" %}">{% translate "Voucher sets" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ voucher_set.name }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
  <div class="hstack justify-content-between align-items-center">
    <h2 class="mb-0">{% translate "Voucher set" %} "{{ voucher_set.name }}"</h2>
    <a href="{% url "dashboard:voucher-set-download" pk=voucher_set.pk %}"
       class="btn btn-primary icon-link">
      <iconify-icon icon="material-symbols:download" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Download CSV" %}
    </a>
  </div>
{% endblock main_header %}
{% block dashboard_content %}
  {% include "oscar/dashboard/vouchers/partials/voucher_set_details_table.html" %}
  <div class="table-header">
    <h3 class="icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Search vouchers" %}
    </h3>
  </div>
  <div class="card card-body bg-light">
    <form method="get" class="hstack">
      {% include "oscar/partials/form_fields_inline.html" with form=form wrapper_class="mb-0" %}
      <button type="submit" class="btn btn-primary">{% translate "Search" %}</button>
      <a href="{% url "dashboard:voucher-set-detail" pk=voucher_set.pk %}"
         class="btn">{% translate "Reset" %}</a>
    </form>
    {% if search_filters %}
      <div class="search-filter-list">
        <label>Filters:</label>
        {% for filter in search_filters %}<span class="badge bg-success">{{ filter }}</span>{% endfor %}
      </div>
    {% endif %}
  </div>
  <table class="table table-striped table-bordered table-hover">
    <caption class="icon-link">
      <iconify-icon icon="streamline:discount-percent-coupon" width="1rem" height="1rem" aria-hidden="true" inline></iconify-icon>
      {% if search_filters %}
        {% translate "Voucher Search Results" %}
      {% else %}
        {% translate "All Vouchers" %}
      {% endif %}
    </caption>
    {% if vouchers %}
      <tr>
        <th>{% translate "Code" %}</th>
        <th>{% anchor "num_basket_additions" _("Num baskets") %}</th>
        <th>{% anchor "num_orders" _("Num orders") %}</th>
        <th>{% anchor "date_created" _("Date created") %}</th>
        <th></th>
      </tr>
      {% for voucher in vouchers %}
        <tr>
          <td>
            <span class="badge bg-secondary">{{ voucher.code }}</span>
          </td>
          <td>{{ voucher.num_basket_additions }}</td>
          <td>{{ voucher.num_orders }}</td>
          <td>{{ voucher.date_created }}</td>
          <td>
            <div class="btn-toolbar">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">{% translate "Actions" %}</button>
                <div class="dropdown-menu dropdown-menu-end"
                     aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"
                     href="{% url "dashboard:voucher-stats" pk=voucher.id %}">{% translate "Stats" %}</a>
                  <a class="dropdown-item"
                     href="{% url "dashboard:voucher-delete" pk=voucher.id %}">{% translate "Delete" %}</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>{% translate "No vouchers found." %}</td>
      </tr>
    {% endif %}
  </table>
  {% include "oscar/partials/pagination.html" %}
  <div class="table-header">
    <h2 class="mb-0">{% translate "Attached offers" %}</h2>
  </div>
  <table class="table table-striped table-bordered table-hover">
    {% if voucher_set.vouchers.first.offers.exists %}
      <thead>
        <tr>
          <th>{% translate "Offer name" %}</th>
          <th>{% translate "Start date" %}</th>
          <th>{% translate "End date" %}</th>
          <th>{% translate "Is available?" %}</th>
          <th>{% translate "Priority" %}</th>
          <th>{% translate "Incentive" %}</th>
          <th>{% translate "Condition" %}</th>
          <th>{% translate "Restrictions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for offer in voucher_set.vouchers.first.offers.all %}
          <tr>
            <td>
              <a href="{% url "dashboard:offer-detail" pk=offer.pk %}">{{ offer.name }}</a>
            </td>
            <td>{{ offer.start_datetime|default:"-" }}</td>
            <td>{{ offer.end_datetime|default:"-" }}</td>
            <td>
              {% if offer.is_available %}
                <span class="badge bg-success">{% translate "Yes" %}</span>
              {% else %}
                <span class="badge bg-danger">{% translate "No" %}</span>
              {% endif %}
            </td>
            <td>{{ offer.priority }}</td>
            <td>{{ offer.benefit.description|safe }}</td>
            <td>{{ offer.condition.description|safe }}</td>
            <td>
              {% for restriction in offer.availability_restrictions %}
                {% if not restriction.is_satisfied %}
                  <label class="badge bg-danger">{{ restriction.description }}</label>
                {% else %}
                  {{ restriction.description }}
                  <br />
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <tr>
        <td>{% translate "No offers are attached to this voucher set." %}</td>
      </tr>
    {% endif %}
  </table>
  <div class="form-actions">
    <a class="btn btn-primary"
       href="{% url "dashboard:voucher-set-update" pk=voucher_set.pk %}">{% translate "Edit" %}</a> {% translate "or" %}
    <a class="btn btn-danger"
       href="{% url "dashboard:voucher-set-delete" pk=voucher_set.pk %}">{% translate "Delete" %}</a> {% translate "or" %}
    <a href="{% url "dashboard:voucher-set-list" %}">{% translate "cancel" %}</a>
  </div>
{% endblock dashboard_content %}
