{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% comment %} {% load widget_tweaks %} {% endcomment %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate "Vouchers" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      {% if form.is_bound %}
        <li class="breadcrumb-item">
          <a href="{% url "dashboard:voucher-list" %}">{% translate "Vouchers" %}</a>
        </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{% translate "Vouchers" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
  <div class="hstack justify-content-between align-items-center">
    <h4 class="mb-sm-0">{% translate "Vouchers" %}</h4>
    <a href="{% url "dashboard:voucher-create" %}"
       class="btn btn-primary icon-link">
      <iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Create new voucher" %}
    </a>
  </div>
{% endblock main_header %}
{% block dashboard_content %}
  <div class="vstack gap-4">
    {% block search_form %}
      <div class="card">
        <span class="card-header icon-link fw-normal">
          <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Search" %}
        </span>
        <div class="card-body">
          <div class="vstack gap-3">
            {% crispy form %}
            {% if search_filters %}
              <div class="gap-2 hstack">
                <label>Filters:</label>
                {% for filter in search_filters %}<span class="badge bg-success">{{ filter }}</span>{% endfor %}
              </div>
            {% endif %}
            {# Search modal, if there are form errors the form is automatically openend #}
            {% include "oscar/dashboard/partials/advanced_search_modal.html" with form=advanced_form style="horizontal" %}
          </div>
        </div>
      </div>
    {% endblock search_form %}
    {% block voucher_table %}
      <div class="card">
        <span class="card-header icon-link fw-normal">
          <iconify-icon icon="streamline:discount-percent-coupon" width="1rem" height="1rem" aria-hidden="true" inline></iconify-icon>
          {% if search_filters %}
            {% translate "Voucher Search Results" %}
          {% else %}
            {% translate "All Vouchers" %}
          {% endif %}
        </span>
        <div class="card-body {% if vouchers %}p-0{% endif %}">
          {% if vouchers %}
            <div class="table-container table-responsive-md">
              <table class="table table-bordered table-hover align-middle">
                {% block table_head %}
                  <thead>
                    <tr>
                      <th>{% translate "Name" %}</th>
                      <th>{% translate "Code" %}</th>
                      <th>{% translate "Status" %}</th>
                      <th>{% anchor "num_offers" _("Num Offers") %}</th>
                      <th>{% anchor "num_basket_additions" _("Num baskets") %}</th>
                      <th>{% anchor "num_orders" _("Num orders") %}</th>
                      <th>{% anchor "date_created" _("Date created") %}</th>
                      {% if form.is_bound and form.cleaned_data.in_set is not False %}
                        <th>{% translate "Set" %}</th>
                      {% endif %}
                      <th></th>
                    </tr>
                  </thead>
                {% endblock table_head %}
                <tbody>
                  {% for voucher in vouchers %}
                    {% block table_row %}
                      <tr>
                        <td>
                          <a href="{% url "dashboard:voucher-stats" voucher.id %}">{{ voucher.name }}</a>
                        </td>
                        <td>
                          <span class="badge bg-secondary">{{ voucher.code }}</span>
                        </td>
                        <td>
                          {% if voucher.is_active %}
                            <span class="badge bg-success">{% translate "Active" %}</span>
                          {% else %}
                            <span class="badge bg-secondary">{% translate "Inactive" %}</span>
                          {% endif %}
                        </td>
                        <td>{{ voucher.num_offers }}</td>
                        <td>{{ voucher.num_basket_additions }}</td>
                        <td>{{ voucher.num_orders }}</td>
                        <td>{{ voucher.date_created }}</td>
                        {% if form.is_bound and form.cleaned_data.in_set is not False %}
                          <td>
                            {% if voucher.voucher_set.pk %}
                              <a href="{% url "dashboard:voucher-set-detail" pk=voucher.voucher_set.pk %}">{{ voucher.voucher_set.name }}</a>
                            {% else %}
                              -
                            {% endif %}
                          </td>
                        {% endif %}
                        <td>
                          {% block row_actions %}
                            <div class="btn-toolbar">
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">{% translate "Actions" %}</button>
                                <div class="dropdown-menu dropdown-menu-end"
                                     aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item"
                                     href="{% url "dashboard:voucher-stats" pk=voucher.id %}">{% translate "Stats" %}</a>
                                  {% if not voucher.voucher_set %}
                                    <a class="dropdown-item"
                                       href="{% url "dashboard:voucher-update" pk=voucher.id %}">{% translate "Edit" %}</a>
                                  {% else %}
                                    <a class="dropdown-item"
                                       href="{% url "dashboard:voucher-set-update" pk=voucher.voucher_set.pk %}">
                                      {% translate "Edit set" %}
                                    </a>
                                  {% endif %}
                                  <a class="dropdown-item"
                                     href="{% url "dashboard:voucher-delete" pk=voucher.id %}">
                                    {% if not voucher.voucher_set %}
                                      {% translate "Delete" %}
                                    {% else %}
                                      {% translate "Delete from set" %}
                                    {% endif %}
                                  </a>
                                </div>
                              </div>
                            </div>
                          {% endblock row_actions %}
                        </td>
                      </tr>
                    {% endblock table_row %}
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div>{% translate "No vouchers found." %}</div>
            {% endif %}
            {% include "oscar/dashboard/partials/pagination.html" %}
          </div>
        </div>
      </div>
    {% endblock voucher_table %}
  </div>
{% endblock dashboard_content %}
{% block onbodyload %}
  {{ block.super }}
  {% if advanced_form.errors %}$("#SearchModal").modal("show");{% endif %}
{% endblock onbodyload %}
