{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters sorting_tags crispy_forms_tags i18n static %}


{% block body_class %}
  {{ block.super }} reviews
{% endblock body_class %}

{% block title %}
  {% translate "Reviews" %} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Reviews" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block main_header_content %}
  {% translate "Reviews" %}
{% endblock main_header_content %}

{% block dashboard_content %}
  <div class="card">
    <span class="card-header icon-link fw-normal">
      <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Review Search" %}
    </span>
    <div class="card-body">
      <form method="get" class="row align-items-end g-3">
        {% crispy form %}

        <div class="col-sm-auto col">
          <button type="submit" class="btn btn-primary w-100 icon-link justify-content-center" data-loading-text="Searching...">
            <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="false"></iconify-icon>
            {% translate "Search" %}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    {% if review_list %}          
      {% include "oscar/partials/delete_modal.html" with body_title="Remove Review" body_text="Are you sure to remove the review:" %}
      <form method="post"> {% endif %}
        <div class="card-header hstack gap-3 justify-content-between">
          <h4 class="card-title icon-link mb-0">
            <iconify-icon icon="carbon:review" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
            {{ description }}
          </h4>

          {% if review_list %}
            <div class="hstack column-gap-2">
              {% crispy review_form %}
              <input type="hidden" name="action" value="update_selected_review_status" />
              <button type="submit" name="update" class="btn btn-primary" data-loading-text="{% translate "Updating..." %}">
                {% translate "Update" %}
              </button>
            </div>
          {% endif %}
        </div>
        <div class="card-body">
          {% if review_list %}
            <div class="table-card table-responsive">
              <table class="table table-hover mb-0 align-middle">
                <tr>
                  <th></th>
                  <th>{% translate "Title" context "Review title" %}</th>
                  <th>{% translate "Product" %}</th>
                  <th>{% translate "User" %}</th>
                  <th>{% anchor 'score' _("Score") %}</th>
                  <th>{% anchor 'total_votes' _("Votes") %}</th>
                  <th>{% translate "Status" %}</th>
                  <th>{% anchor 'date_created' _("Date created") %}</th>
                  <th></th>
                </tr>
                {% for review in review_list %}
                  <tr>
                    <td>
                      <input type="checkbox"
                            name="selected_review"
                            class="selected_review"
                            value="{{ review.id }}" />
                    </td>
                    <td>
                      <a href="{% url 'dashboard:reviews-update' pk=review.id %}">{{ review.title }}</a>
                    </td>
                    <td>
                      {% if review.product %}
                        <a href='{{ review.product.get_absolute_url }}'>{{ review.product.title }}</a>
                      {% else %}
                        {% translate "[Product deleted]" %}
                      {% endif %}
                    </td>
                    <td>
                      {% if not review.is_anonymous %}
                        <a href="{% url 'dashboard:user-detail' pk=review.user.id %}">{{ review.reviewer_name }}</a>
                      {% else %}
                        {{ review.name }}
                      {% endif %}
                    </td>
                    <td>{{ review.score|floatformat:1 }} / {{ 5.0|floatformat:1 }}</td>
                    <td>{{ review.total_votes }}</td>
                    <td>
                      {% if review.status == 1 %}
                        <span class="badge bg-success-subtle text-success">
                      {% elif review.status == 2 %}
                        <span class="badge bg-danger">
                        {% else %}
                          <span class="badge bg-info-subtle text-info">
                      {% endif %}
                          {{ review.get_status_display }}
                        </span>
                    </td>
                    <td>{{ review.date_created }}</td>
                    <td>
                      <div class="row g-2">
                        {% if review.title and review.product %}
                          <div class="col-auto">
                            <a class="badge bg-primary-subtle text-primary fs-13 icon-link"
                                href="{% url 'catalogue:reviews-detail' product_slug=review.product.slug product_pk=review.product.id pk=review.id %}">
                              {% translate "View on site" %}
                            </a>         
                          </div>       
                        {% endif %}
                        <div class="col-auto">
                            <a class="badge bg-info-subtle text-info fs-13 icon-link" href="{% url 'dashboard:reviews-update' pk=review.id %}">
                              {% translate "Edit" %}
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="badge bg-danger-subtle text-danger fs-13 icon-link" data-bs-pk="{{ review.id }}" data-bs-name="{{ review.title }}" data-bs-toggle="modal" href="#deleteModal">
                              {% translate "Delete" %}
                            </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            {% include "oscar/dashboard/partials/pagination.html" %}
          {% else %}
            <div>{% translate "No reviews found." %}</div>
          {% endif %}
        </div>
    {% if review_list %} </form> {% endif %}
  </div>
{% endblock dashboard_content %}

{% block onbodyload %}
  {{ block.super }}
  {% if review_list %}
    oscar.dashboard.initDeleteModal('{% url "dashboard:reviews-delete" pk=9999 %}', '9999')
  {% endif %}
{% endblock onbodyload %}

{% block extrascripts %}
  {{ block.super }}
  <script src="{% static "libs/choices/choices.min.js" %}" defer></script>
{% endblock extrascripts %}
