{% extends 'oscar/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static "css/base.css" %}" />
  <link rel="stylesheet" href="{% static "css/dashboard.css" %}" />
{% endblock styles %}
{% block cdn_scripts %}
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script>
    window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')
  </script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js" integrity="sha512-Ddol22Rg6lAu+oCzivr/jvqihzRnc+NynPnbRRvjm+9ZHwsUNbYqNA1PSc1ehYpb+9bCL8mna0V4ropKt+0eog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% bootstrap_javascript %}
{% endblock cdn_scripts %}
