{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"es" }}"
      class="{% block html_class %}no-js{% endblock html_class %}">
  <head>
    <title>
      {% block title %}
        {{ shop_name }} - {{ shop_tagline }}
      {% endblock title %}
    </title>
    <meta name="keywords"
          content="{% translate "embutidos, jamón, chorizo, salchichón, carne de cerdo, tienda online, productos ibéricos" %}, {{ shop_name }}, {{ shop_tagline }}" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description"
          content="{% block description %}{% endblock description %}" />
    <meta name="viewport"
          content="{% block viewport %}width=device-width{% endblock viewport %}" />
    {% block favicon %}
      <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
    {% endblock favicon %}
    {# Block where global CSS will go. #}
    {% block styles %}
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
      <link rel="stylesheet" href="{% static "css/base.css" %}" />
    {% endblock styles %}
    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}
    {% endblock extrastyles %}
    {% block extrahead %}
      {# Change theme #}
      <script src="{% static "js/color-mode.js" %}"></script>
    {% endblock extrahead %}
    {% block tracking %}
      {# Default to using Google analytics #}
      {% include "oscar/partials/google_analytics.html" %}
    {% endblock tracking %}
  </head>
  <body id="{% block body_id %}default{% endblock body_id %}"
        class="{% block body_class %}default{% endblock body_class %}">
    {% block header_page %}
    {% endblock header_page %}
    {# Main content goes in this 'layout' block #}
    {% block layout %}
      <main class="container-xl">
        {% block layout_content %}
        {% endblock layout_content %}
      </main>
    {% endblock layout %}
    {% block aside %}
    {% endblock aside %}
    {% block footer %}
    {% endblock footer %}
    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
      {#  Iconify API #}
      <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js"
              integrity="sha512-Ddol22Rg6lAu+oCzivr/jvqihzRnc+NynPnbRRvjm+9ZHwsUNbYqNA1PSc1ehYpb+9bCL8mna0V4ropKt+0eog=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
              async></script>
    {% endblock cdn_scripts %}
    {# Local scripts #}
    {% block scripts %}
      {#  Bootstrap JS #}
      <script src="{% static "js/popper.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock scripts %}
    {# Additional JS scripts #}
    {% block extrascripts %}
    {% endblock extrascripts %}
    {# Block for body onload functions #}
    {# djlint:off #}
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          {% block onbodyload %}
          {% endblock onbodyload %}
        });
</script>
    {# djlint:on #}
    {# Page meta-data - this is populated by the 'metadata' template context processor #}
  </body>
</html>
