{% load i18n %}
{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"es" }}"
      class="{% block html_class %}{% endblock html_class %}" 
      data-sidebar-size="lg" data-preloader="disable" data-layout="vertical" >
  <head>
    <title>
      {% block title %}
        {{ shop_name }} 
        {% if shop_tagline %}
          - {{ shop_tagline }} 
        {% endif %}
      {% endblock title %}
    </title>
    <meta name="keywords"
          content="{% translate "embutidos, jamón, chorizo, salchichón, carne,cerdo, tienda online, ibérico" %}, {{ shop_name }}, {{ shop_tagline }}" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description"
          content="{% block description %} {% trans "E-Commerce/Online Shop of the business Sierra Grande of Hornachos, high quality iberian pig meat at the best price" %}{% endblock description %}" />
    <meta content="Sierra Grande de Hornachos S.L" name="author" />
    <meta name="viewport"
          content="{% block viewport %}width=device-width{% endblock viewport %}" />
    {% block favicon %}
      <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
    {% endblock favicon %}

    {% compress js %}
      <script src="{% static "js/components/color-mode.js" %}" async></script>
    {% endcompress %}

    {% compress css %}
      {# Block where global CSS will go. #}
      {% block styles %}
        <link rel="stylesheet"
              type="text/x-scss"
              href="{% static "scss/base.scss" %}" />
      {% endblock styles %}
      {# Additional CSS - specific to certain pages #}
      {% block extrastyles %}
      {% endblock extrastyles %}
    {% endcompress %}
    {% block extrahead %}
    {% endblock extrahead %}
    {% block tracking %}
      {# Default to using Google analytics #}
      {% include "oscar/partials/google_analytics.html" %}
    {% endblock tracking %}
  </head>
  <body id="{% block body_id %}default{% endblock body_id %}"
        class="{% block body_class %}{% endblock body_class %}">
    {# Main content goes in this 'layout' block #}
    {% block layout %}
    {% endblock layout %}
    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
      {#  Iconify API #}
      <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js"
              integrity="sha512-Ddol22Rg6lAu+oCzivr/jvqihzRnc+NynPnbRRvjm+9ZHwsUNbYqNA1PSc1ehYpb+9bCL8mna0V4ropKt+0eog=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
              defer></script>
    {% endblock cdn_scripts %}
    {% compress js %}
      {# Local scripts #}
      {% block scripts %}
        {#  Bootstrap JS #}
        <script src="{% static "libs/bootstrap/js/popper.min.js" %}" defer></script>
        <script src="{% static "libs/bootstrap/js/bootstrap.min.js" %}" defer></script>
      {% endblock scripts %}
      {# Additional JS scripts #}
      {% block extrascripts %}
      {% endblock extrascripts %}
      {# Block for body onload functions #}{# djlint:off #}
        <script type="text/javascript" defer>
          document.addEventListener('DOMContentLoaded', function() {
            {% block onbodyload %}
            {% endblock onbodyload %}
          });
        </script>
      {# djlint:on #}
    {% endcompress %}
    {# Page meta-data - this is populated by the 'metadata' template context processor #}
  </body>
</html>
