{% extends "oscar/base.html" %}
{% load static i18n %}


{% block html_attributes %}
  data-footer="dark"
{% endblock html_attributes %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/x-scss" href="{% static "scss/eccomerce/eccomerce.scss" %}" />
{% endblock styles %}

{% block layout %}
    {% block top_tagbar %}
        {% include "oscar/partials/top_tagbar.html" %}
    {% endblock top_tagbar %}
    {% block header %}
        {% include "oscar/partials/header.html" %}
    {% endblock header %}
    {% block main %}
        <main>
            {% block content_header %}
              <div class="bg-primary py-4">
                <div class="container hstack justify-content-between column-gap-3"> 
                  {% block content_header_title %}
                    <h4 class="text-white mb-0">
                      {% block content_header_title_content %}
                      {% endblock content_header_title_content %}
                    </h4>
                  {% endblock content_header_title %}

                  {% block content_header_breadcrumb %}
                  {% endblock content_header_breadcrumb %}
                </div>
              </div>
            {% endblock content_header %}

            <div class="container py-5 content__wrapper">
              {% include "oscar/partials/alert_messages.html" %}

              {% block content %}
              {% endblock content %}
            </div>

            {% include "oscar/partials/pre_footer.html" %}
        </main>
    {% endblock main %}

    {% include "oscar/partials/footer.html" %}
{% endblock layout %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static "js/eccomerce/base.js" %}" defer ></script>
{% endblock scripts %}

{% block extrascripts %}
  {{ block.super }}
  <script src="{% static "libs/simplebar/simplebar.min.js" %}" defer></script>
{% endblock extrascripts %}

{% block onbodyload %}
  {{ block.super }}
  const options = {
    "languageCode": "{{ LANGUAGE_CODE }}",
    "placeholderValue": "{% translate "Select an option" %}",
    "noResultsText": "{% translate "No results found" %}",
    "noChoicesText": "{% translate "No options available" %}",
  };
  oscar.init(options);
{% endblock onbodyload %}

