@import url('animations.css');

/* ----- SideBar ------ */
.sidebar__wrapper,
.sidebar--mini,
.sidebar__nav,
.sidebar__wrapper > article:first-of-type,
.sidebar__nav__section,
.sidebar__nav__section__list {
	display: flex;
	flex-direction: column;
}
.sidebar {
	box-shadow: var(--box-shadow);
	background-color: var(--body-bg);
	z-index: var(--z-index-xxl);
	overflow-x: hidden;
}
.sidebar__wrapper {
	justify-content: space-between;
	min-height: 100%;
	position: relative;
}
.sidebar--show {
	width: 24vw;
}
.sidebar[animation='true'] {
	transition: width 0.3s;
}
.sidebar.sidebar--hidden {
	width: 0;
}
.sidebar--mini {
	width: fit-content;
}

.sidebar__wrapper > article:first-of-type {
	gap: 1.4rem;
}
@media (width >= 768px) {
	.backdrop {
		display: none !important;
	}
}
.sidebar__wrapper > article:first-of-type,
.sidebar--mini {
	padding: 1rem 1.2rem;
}

/* Brand section */
.sidebar__brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar__brand__logo {
	height: 3.2rem;
	border-radius: 6px;
}

/* Apps list section */
.sidebar__nav {
	gap: 1.3rem;
}
.sidebar__nav__section {
	gap: 0.7rem;
}
.sidebar__nav__section__header {
	margin: 0;
}
.sidebar__nav__section__list {
	gap: 0.8rem;
}
.sidebar__nav__section__list__item {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}
.sidebar__nav__section__list__item__text {
	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;
}
.sidebar__nav__section__list__item__add {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}
.sidebar__nav__section__list__item__add iconify-icon {
	color: rgba(var(--success));
}
.sidebar__nav__section__list__item__add:is(:hover, :focus) iconify-icon {
	filter: contrast(80%);
}

/* Search section */
#nav-filter {
	margin: 0;
	width: 100%;
	padding-block: 0.6rem;
}

/* Profile section */
.sidebar__profile {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	background-color: var(--darkened-bg);
	position: sticky;
	bottom: 0;
	width: 100%;
	padding: 1.2rem;
}
.sidebar__profile iconify-icon {
	width: fit-content;
}
.sidebar__profile__header {
	display: grid;
	align-items: center;
	column-gap: 0.5rem;
	grid-template-columns: 2.5rem 1fr 1rem;
	grid-template-rows: 1fr 1fr;
	text-transform: capitalize;
}
.sidebar__profile__header :first-child {
	grid-row: 1 / -1;
}
.sidebar__profile__header :nth-child(2) {
	grid-row: 1 / span 1;
}
.sidebar__profile__header :nth-child(3) {
	grid-row: 2 / -1;
	font-size: 0.8rem;
	color: var(--body-quiet-color);
}
.sidebar__profile__header :last-child {
	grid-row: 1 / -1;
	transition: transform 150ms ease-in-out;
}
.sidebar__profile--show .sidebar__profile__header :last-child {
	transform: rotate(180deg);
}
.sidebar__profile__content hr {
	height: 1px;
	background-color: var(--border-color);
	border: none;
	margin-bottom: 0.8rem;
}
.sidebar__profile__content a,
.sidebar__profile__content form {
	display: flex;
	gap: 0.8rem;
}
.sidebar__profile__content {
	margin-left: 5px;
}
.sidebar__profile__content a:is(:link, :focus, :hover, :visited) {
	color: var(--primary-fg);
}
.sidebar__profile__content__wrapper {
	padding-block: 0.3rem;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

/* ----- End SideBar ------ */

/* ----- Content ------ */

#container {
	flex-grow: 1;
	padding: 0;
	display: flex;
	flex-direction: column;
	z-index: var(--z-index-sm);
	position: relative;
	background-color: var(--body-bg);
	margin: 1.5rem;
}
#container > main {
	outline: none;
}
main > #content {
	flex: 1 0;
	max-width: 100%;
}
.content__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ----- End Content ------ */
