{% extends "oscar/layout.html" %}

{% load i18n %}
{% load category_tags %}

{% block main_header %}
  <div class="page_inner">
    <div class="row">{% include "oscar/partials/brand.html" %}</div>
    <!-- /row -->
  </div>
  {% block checkout_nav %}
  {% endblock checkout_nav %}
{% endblock main_header %}
{% block layout_content %}
  <!-- /header -->
  <div class="page_inner">
    {% include "oscar/partials/alert_messages.html" %}
    <div class="sub-header">
      <h1>
        {% block checkout_title %}
        {% endblock checkout_title %}
      </h1>
    </div>
    <!-- The main nav on checkout pages contain links to modal flatpages -->
    {% block modal %}
      {% load flatpages_i18n %}

      {% get_flatpages_i18n '/order/' as flatpages %}
      {% for page in flatpages %}
        <div id="{{ page.title|slugify }}" class="modal hide fade">
          <div class="modal-header">
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            <h3>{{ page.title }}</h3>
          </div>
          <div class="modal-body">
            <div class="large-content">{{ page.content|safe }}</div>
          </div>
        </div>
      {% endfor %}
    {% endblock modal %}
    {% block content %}
    {% endblock content %}
  </div>
  {% include "oscar/partials/footer_checkout.html" %}
{% endblock layout_content %}
