{% extends "admin/base_site.html" %}
{% load static %}


<!-- Estilos css -->
{% block extrastyle %}
<link
    href="{% static 'admin/css/admin.css' %}"
    rel="stylesheet"
/>
<link
    rel="stylesheet"
    href="{% static 'admin/css/base.css' %}"
/>
{% endblock %}

<!-- JS -->
{% block extrahead %}
<script
    defer
    src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
></script>

<!-- Alpine colapse plugin -->
<script
    defer
    src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
></script>

<!-- Alpine persist plugin -->
<script
    async
    src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
></script>

<!-- Alpine core -->
<script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>



{% endblock %}

<!-- Only display breadcrumbs when applist is available -->
{% block breadcrumbs%}
{% if available_apps %}
{{ block.super }}
{% endif %}
{%endblock%}


<!-- Display content or error depending of available apps -->
{%block content %}
{% if available_apps %}
{{ block.super}}
{%else %}
<p> No tiene permisos para editar ni visualizar nada</p>
{% endif %}
{% endblock %}
