{% load i18n %}

<div class="related-widget-wrapper multiple hstack">
  {{ rendered_widget }}
  {% block links %}
    {% spaceless %}
      <a class="text-success"
         id="create_id_{{ name }}"
         href="{{ add_related_url }}?{{ url_params }}"
         title="{% blocktrans %}Add another {{ model }}{% endblocktrans %}">
        <iconify-icon icon="heroicons:plus-circle-16-solid" width="1rem" height="1rem" title="{% trans "Add" %}"></iconify-icon>
      </a>
    {% endspaceless %}
  {% endblock links %}
</div>
