{% load i18n %}

<div class="related-widget-wrapper multiple hstack column-gap-3">
  {{ rendered_widget }}
  {% block links %}
    {% spaceless %}
      <a class="text-success related-widget-wrapper-link add-related"
         id="create_id_{{ name }}"
         href="{{ add_related_url }}?{{ url_params }}"
         title="{% blocktranslate with model_name=model|lower %}Add another {{ model_name }}{% endblocktranslate %}"
         data-bs-toggle="tooltip">
        <iconify-icon icon="heroicons:plus-circle-16-solid" width="1.2rem" height="1.2rem" inline></iconify-icon>
      </a>
    {% endspaceless %}
  {% endblock links %}
</div>
