{% load i18n %}

<div class="table-card table-responsive-md">
    <table class="table table-hover mb-0 align-middle">
        <tbody>
            <tr>
                <th>{% translate "Product" %}</th>
                <td><a href="{{ alert.product.get_absolute_url }}">{{ alert.product }}</a></td>
            </tr>
            <tr>
                <th>{% translate "User" %}</th>
                <td>
                    {% if alert.user %}
                        {{ alert.user }}
                    {% else %}
                        {{ alert.email }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% translate "Status" %}</th>
                <td>{{ alert.status }}</td>
            </tr>
            <tr>
                <th>{% translate "Date created" %}</th>
                <td>{{ alert.date_created }}</td>
            </tr>
            {% if not alert.user %}
            <tr>
                <th>{% translate "Date confirmed" %}</th>
                <td>{{ alert.date_confirmed|default:"-" }}</td>
            </tr>
            {% endif %}
            {% if alert.is_cancelled %}
            <tr>
                <th>{% translate "Date cancelled" %}</th>
                <td>{{ alert.date_cancelled }}</td>
            </tr>
            {% else %}
            <tr>
                <th>{% translate "Date alert sent" %}</th>
                <td>{{ alert.date_closed|default:"-" }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
