{% extends "oscar/dashboard/layout.html" %}

{% load currency_filters i18n static %}

{% block extrastyles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/x-scss" href="{% static "scss/dashboard/index.scss" %}" />
{% endblock extrastyles %}

{% block body_class %}
  {{ block.super }} orders home
{% endblock body_class %}

{% block extrahead %}
  {{ block.super }}
  <meta http-equiv="refresh" content="300" />
{% endblock extrahead %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block main_header_content %}
  {% translate "Dashboard" %}
{% endblock main_header_content %}

{% block dashboard_content %}
  <div class="card">
    <span class="card-header fw-normal">
      <iconify-icon icon="lucide:signal-high" width="1rem" height="1rem" aria-hidden="true" inline></iconify-icon>
      {% translate "Your Store Statistics" %}
    </span>
    <div class="card-body">
      <div class="row gy-3">
        <div class="col-lg-auto">
          <div class="card card-animate">
            <div class="card-body">
              <div class="hstack column-gap-3">
                <div class="vr rounded bg-success opacity-50 w-4"></div>
                <div>
                  <p class="text-uppercase fw-medium text-muted fs-14 text-truncate">
                    {% translate "Total revenue" %}
                  </p>
                  <h4 class="fs-22 fw-semibold">
                    {{ total_revenue|currency }}
                  </h4>
                </div>
                <div class="avatar-sm ms-auto">
                  <span class="avatar-title bg-success-subtle text-success rounded fs-3">
                    <iconify-icon icon="ph:wallet" aria-hidden="true" width="51%" height="51%"></iconify-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-animate">
            <div class="card-body">
              <div class="hstack column-gap-3">
                <div class="vr rounded bg-info opacity-50 w-4"></div>
                <div>
                  <p class="text-uppercase fw-medium text-muted fs-14 text-truncate">
                    {% translate "Total orders" %}
                  </p>
                  <h4 class="fs-22 fw-semibold">
                    {{ total_revenue|currency }}
                  </h4>
                  <p class="text-muted mb-0">{% translate "Last week" %}</p>
                </div>
                <div class="avatar-sm ms-auto">
                  <span class="avatar-title bg-info-subtle text-info rounded fs-3">
                    <iconify-icon icon="ph:storefront" aria-hidden="true" width="51%" height="51%"></iconify-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-animate">
            <div class="card-body">
              <div class="hstack column-gap-3">
                <div class="vr rounded bg-warning opacity-50 w-4"></div>
                <div>
                  <p class="text-uppercase fw-medium text-muted fs-14 text-truncate">
                    {% translate "Total Customers" %}
                  </p>
                  <h4 class="fs-22 fw-semibold">
                    <span class="counter-value" data-target="{{ total_customers }}">
                        {{ total_customers }}
                    </span>
                  </h4>
                </div>
                <div class="avatar-sm ms-auto">
                  <span class="avatar-title bg-warning-subtle text-warning rounded fs-3">
                    <iconify-icon icon="ph:user-circle" aria-hidden="true" width="51%" height="51%"></iconify-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-animate mb-0">
            <div class="card-body">
              <div class="hstack column-gap-3">
                <div class="vr rounded bg-primary opacity-50 w-4"></div>
                <div>
                  <p class="text-uppercase fw-medium text-muted fs-14 text-truncate">
                    {% translate "Total Products" %}
                  </p>
                  <h4 class="fs-22 fw-semibold">
                    <span class="counter-value" data-target="{{ total_products }}">
                      0
                    </span>
                  </h4>
                </div>
                <div class="avatar-sm ms-auto">
                  <span class="avatar-title bg-primary-subtle text-primary rounded fs-3">
                    <iconify-icon icon="ph:sketch-logo" aria-hidden="true" width="51%" height="51%"></iconify-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-lg-4 order-md-first">
      <div class="card">
        <span class="card-header icon-link fw-normal">
          <iconify-icon icon="fa-solid:shopping-cart" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
          {% translate "Orders - Last 24 Hours" %}
        </span>
        <div class="card-body">
          <div class="table-card table-responsive-md">
            <table class="table table-hover align-middle mb-0">
              <tr>
                <td>{% translate "Total orders" %}</td>
                <td class="text-center">{{ total_orders_last_day }}</td>
              </tr>
              <tr>
                <td>{% translate "Total lines" %}</td>
                <td class="text-center">{{ total_lines_last_day }}</td>
              </tr>
              <tr>
                <td>{% translate "Total revenue" %}</td>
                <td class="text-center">{{ total_revenue_last_day|currency }}</td>
              </tr>
              <tr>
                <td>{% translate "Average order costs" %}</td>
                <td class="text-center">{{ average_order_costs|currency }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-md-1">
      <div class="card">
        <div class="card-header hstack justify-content-between align-items-center">
          <span class="icon-link fw-normal">
            <iconify-icon icon="fa-solid:shopping-cart" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
            {% translate "Orders - All Time" %}
          </span>
          <a href="{% url "dashboard:order-list" %}" class="btn btn-soft-primary btn-sm">
            {% translate "Manage" %}
          </a>
        </div>
        <div class="card-body">
          <div class="table-card table-responsive-md">
            <table class="table table-hover align-middle mb-0">
              <tr>
                <td>{% translate "Total orders" %}</td>
                <td class="text-center">{{ total_orders }}</td>
              </tr>
              <tr>
                <td>{% translate "Total lines" %}</td>
                <td class="text-center">{{ total_lines }}</td>
              </tr>
              <tr>
                <td>{% translate "Total revenue" %}</td>
                <td class="text-center">{{ total_revenue|currency }}</td>
              </tr>
              <tr>
                <td>
                  {% translate "Total <em>open</em> baskets" %}
                </td>
                <td class="text-center">{{ total_open_baskets }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-2 order-md-4">
      <div class="card">
        <span class="card-header icon-link fw-normal">
          <iconify-icon icon="prime:users" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
          {% translate "Customers" %}
        </span>
        <div class="card-body">
          <div class="table-card table-responsive-md">
            <table class="table table-hover align-middle mb-0">
              <tr>
                <td>{% translate "Total customers" %}</td>
                <td class="text-center">{{ total_customers }}</td>
              </tr>
              <tr>
                <td>{% translate "New customers" %}</td>
                <td class="text-center">{{ total_customers_last_day }}</td>
              </tr>
              <tr>
                <td>
                  {% translate "Total <em>open</em> baskets" %}
                </td>
                <td class="text-center">{{ total_open_baskets_last_day }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-xl-6 order-lg-3 order-md-3">
      <div class="card">
        <div class="card-header">
          <div class="row row-cols-2 justify-content-between">
            <span class="icon-link col-4">
              <iconify-icon icon="fa-solid:sitemap" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
              {% translate "Catalogue and stock" %}
            </span>
            <div class="col-8 hstack column-gap-md-3 justify-content-between justify-content-lg-end">
              <a href="{% url "dashboard:catalogue-product-list" %}"
                 class="btn btn-soft-primary btn-sm"
                 role="button">
                {% translate "Manage" %}
              </a>
              <a href="{% url "dashboard:stock-alert-list" %}"
                 class="btn btn-soft-primary btn-sm"
                 role="button">
                {% translate "View Stock Alerts" %}
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-card table-responsive-md">
            <table class="table table-hover align-middle mb-0">
              <tr>
                <td>{% translate "Total products" %}</td>
                <td class="text-center">{{ total_products }}</td>
              </tr>
              <tr>
                <td>
                  {% translate "<em>Open</em> stock alerts" %}
                </td>
                <td class="text-center">{{ total_open_stock_alerts }}</td>
              </tr>
              <tr>
                <td>
                  {% translate "<em>Closed</em> stock alerts" %}
                </td>
                <td class="text-center">{{ total_closed_stock_alerts }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% if user.is_staff %}
      <div class="col-lg-5 col-xl-6 order-md-last">
        <div class="card">
          <span class="card-header icon-link fw-normal">
            <iconify-icon icon="ant-design:gift-filled" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
            {% translate "Offers, vouchers" %}
          </span>
          <div class="card-body">
            <div class="table-card table-responsive-md">
              <table class="table table-hover align-middle mb-0">
                {% for offer_map in offer_maps %}
                  <tr>
                    <td>
                      {% blocktranslate with offer_type=offer_map.offer_type %}Active <em>{{ offer_type }}</em> Offers{% endblocktranslate %}
                    </td>
                    <td class="text-center">{{ offer_map.count }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>
                    {% translate "Active <em>Vouchers</em>" %}
                  </td>
                  <td class="text-center">{{ total_vouchers }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock dashboard_content %}

{% block extrascripts %}
  {{ block.super }}
  <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}" defer></script>
{% endblock extrascripts %}

{% block onbodyload %}
  {{ block.super }}
  const dailyTotals = {{daily_report_dict.daily_totals|safe}}
  oscar.dashboard.index.init(dailyTotals, "{% translate "Orders last week" %}", "{% translate "Revenue" %}");
{% endblock onbodyload %}

