{% extends "oscar/dashboard/base.html" %}

{% load category_tags %}
{% load i18n %}
{% load static %}

{% block title %}
  {% translate "Dashboard" %} | {{ block.super }}
{% endblock title %}
{% block layout %}
  <div class="layout-wrapper">
    {% block top_tagbar %}
      {% include "oscar/dashboard/partials/top_tagbar.html" %}
    {% endblock top_tagbar %}
    {% block topbar %}
      {% include "oscar/dashboard/partials/topbar.html" %}
    {% endblock topbar %}
    {% block sidebar %}
      {% include "oscar/dashboard/partials/sidebar.html" %}
    {% endblock sidebar %}
    {% block main %}
      <main class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            {% include "oscar/dashboard/partials/alert_messages.html" %}
            <div class="row">
              <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  {% block main_header %}
                    <h4 class="mb-sm-0">
                      {% block main_header_content %}
                      {% endblock main_header_content %}
                    </h4>
                  {% endblock main_header %}
                  {% block breadcrumbs %}
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                          <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
                        </li>
                      </ol>
                    </nav>
                  {% endblock breadcrumbs %}
                </div>
              </div>
            </div>
            {% block content %}
              {% block dashboard_content %}
              {% endblock dashboard_content %}
            {% endblock content %}
          </div>
        </div>
        {% include "oscar/dashboard/partials/footer.html" %}
      </main>
    {% endblock main %}
  </div>
{% endblock layout %}
{% block extrascripts %}
  {{ block.super }}
  <script src="{% static "oscar/js/oscar/dashboard.js" %}" defer></script>
  <script src="{% static "oscar/js/oscar/RelatedObjectLookups.js" %}" defer></script>
  <script src="{% static 'libs/inputmask/inputmask.min.js' %}" defer></script>
  <script src="{% static "libs/simplebar/simplebar.min.js" %}" defer></script>
{% endblock extrascripts %}
{% block onbodyload %}
  {{ block.super }}
  // This code is for show the tab or update url
  {% comment %} var url = document.location.toString();
  // Javascript to enable link to tab
  if (url.match("#")) {
  $('.bs-docs-sidenav a[href="#' + id + '"]').tab('show');
  }
  // Change hash for page-reload
  $(".nav-list a").on("shown.bs.tab", function (e) {
  window.location.hash = e.target.hash;
  }); {% endcomment %}
  options = {
    "languageCode": "{{ LANGUAGE_CODE }}",
    "placeholderValue": "{% translate 'Select an option' %}",
    "noResultsText": "{% translate 'No results found' %}",
    "noChoicesText": "{% translate 'No options available' %}",
  };
  oscar.dashboard.init(options);
{% endblock onbodyload %}
