{% extends "django_tables2/bootstrap5-responsive.html" %}

{% load django_tables2 %}
{% load i18n %}

{% block table-wrapper %}
  {% block card_header %}
    {% block card_header_text %}
      <h5 class="icon-link">
        {% if table.icon %}
          <iconify-icon icon="{{ table.icon }}" width="1rem" height="1rem" aria-hidden="true" noobserver></iconify-icon>
        {% endif %}
        {{ table.get_caption_display }}
      </h5>
    {% endblock card_header_text %}
  {% endblock card_header %}
  <div class="{% block table-wrapper-class %} card-body {% endblock table-wrapper-class %}">{{ block.super }}</div>
{% endblock table-wrapper %}
{% block table.thead %}
  <thead>
    <tr>
      {% for column in table.columns %}
        {% if column.orderable %}
        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
      </th>
    {% else %}
      <th {{ column.attrs.th.as_html }}>{{ column.header }}
      </th>
    {% endif %}
  {% endfor %}
</tr>
</thead>
{% endblock table.thead %}
{% block pagination %}
  {% with page_obj=table.page paginator=table.paginator %}
    {% include "oscar/dashboard/partials/pagination.html" %}
  {% endwith %}
{% endblock pagination %}
