{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block body_class %}
  {{ block.super }} create-page partners
{% endblock body_class %}
{% block title %}
  {{ partner_name }} | {% translate "Partners" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:partner-list' %}">{% translate "Partners" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ partner_name }}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
{% endblock main_header %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header icon-link">
      <iconify-icon icon="bxs:detail" width="1rem" height="1rem" aria-hidden="true" noobserver=""></iconify-icon>
      {% blocktranslate %} Details of {{partner_name}} partner {% endblocktranslate %}
    </div>
    {% include "oscar/dashboard/partials/form.html" with form=form class="card-body" %}
  </div>
  <div class="card">
    <div class="card-header icon-link">
      <iconify-icon icon="fa-solid:users" width="1rem" height="1rem" aria-hidden="true" noobserver=""></iconify-icon>
      {% translate "Users" %}
    </div>
    <div class="card-body {% if users %}p-0{% endif %}">
      {% if users %}
        <div class="table-container table-responsive-md">
          <table class="table table-bordered table-hover align-middle">
            <thead>
              <tr>
                <th>{% translate 'Email' %}</th>
                <th>{% translate 'First name' %}</th>
                <th>{% translate 'Last name' %}</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td>
                    <a href="{% url 'dashboard:partner-user-update' partner_pk=partner.pk user_pk=user.id %}">{{ user.email }}</a>
                  </td>
                  <td>{{ user.first_name|default:"-" }}</td>
                  <td>{{ user.last_name|default:"-" }}</td>
                  <td>
                    <form action="{% url 'dashboard:partner-user-unlink' partner_pk=partner.id user_pk=user.id %}"
                          method="post">
                      {% csrf_token %}
                      <button type="submit"
                              class="btn btn-danger"
                              data-loading-text="{% translate 'Unlinking...' %}">
                        {% translate 'Unlink user' %}
                      </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div>{% translate "No users linked." %}</div>
      {% endif %}
    </div>
    <div class="card-footer hstack column-gap-3">
      <a class="btn btn-info btn-sm"
         href="{% url 'dashboard:partner-user-create' partner_pk=partner.pk %}">{% translate "Link a new user" %}</a>
      <a class="btn btn-info btn-sm"
         href="{% url 'dashboard:partner-user-select' partner_pk=partner.pk %}">{% translate "Link an existing user" %}</a>
    </div>
  </div>
{% endblock dashboard_content %}
