{% extends "oscar/dashboard/layout.html" %}

{% load sorting_tags %}
{% load i18n %}

{% block title %}
  {% translate "Partners" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Partners" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block main_header %}
  <div class="hstack justify-content-between align-items-center">
    <h4 class="mb-sm-0">{% translate "Partners" %}</h4>
    <a href="{% url "dashboard:partner-create" %}"
       class="btn btn-primary icon-link"><iconify-icon icon="mdi:plus-circle" width="1rem" height="1rem" aria-hidden="true"></iconify-icon> {% translate "Create new partner" %}</a>
  </div>
{% endblock main_header %}
{% block dashboard_content %}
  <div class="card">
    <div class="card-header icon-link fw-normal">
      <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% translate "Search" %}
    </div>
    <div class="card-body">
      <form method="get">
        <div class="row align-items-center">
          {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form wrapper_class="mb-0" %}
          <button type="submit"
                  class="btn btn-primary icon-link col-md-auto"
                  data-loading-text="{% translate "Searching..." %}">{% translate "Search" %}</button>
          {% if is_filtered %}
            <a class="btn btn-secondary col-md-auto"
               href="{% url "dashboard:partner-list" %}">{% translate "Reset" %}</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header icon-link fw-normal">
      <iconify-icon icon="fluent-emoji-high-contrast:briefcase" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      <span>{{ queryset_description }}</span>
    </div>
    <div class="card-body">
      {% if partners %}
        <form method="post">
          {% csrf_token %}
          <div class="table-card table-responsive-md">
            <table class="table table-bordered table-hover align-middle">
              <thead>
                <tr>
                  <th>{% anchor "name" _("Name") %}</th>
                  <th>{% translate "Users" %}</th>
                  <th>{% translate "Addresses" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for partner in partners %}
                  <tr>
                    <td>
                      <a href="{% url "dashboard:partner-manage" pk=partner.pk %}">{{ partner.name }}</a>
                    </td>
                    <td>
                      {% with users=partner.users.all %}
                        {% if users %}
                          <ul>
                            {% for user in users %}
                              <li>
                                <a href="{% url "dashboard:partner-user-update" partner_pk=partner.pk user_pk=user.id %}"
                                   title="{% translate "Edit the user's details" %}">
                                  {{ user.get_full_name|default:user.email }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          {% translate "No users associated." %}
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td>
                      {% with addresses=partner.addresses.all %}
                        {% if addresses %}
                          <ul>
                            {% for address in addresses %}<li>{{ address.summary }}</li>{% endfor %}
                          </ul>
                        {% else %}
                          {% translate "No address associated." %}
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td>
                      <div class="btn-toolbar">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle"
                                  type="button"
                                  id="dropdownMenuButton"
                                  data-bs-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false">{% translate "Actions" %}</button>
                          <div class="dropdown-menu dropdown-menu-end"
                               aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               href="{% url "dashboard:partner-manage" pk=partner.pk %}">
                              {% translate "Manage partner and users" %}
                            </a>
                            <a class="dropdown-item"
                               href="{% url "dashboard:partner-delete" pk=partner.pk %}">{% translate "Delete partner" %}</a>
                            <a class="dropdown-item"
                               href="{% url "dashboard:partner-user-select" partner_pk=partner.pk %}">
                              {% translate "Link an existing user" %}
                            </a>
                            <a class="dropdown-item"
                               href="{% url "dashboard:partner-user-create" partner_pk=partner.pk %}">
                              {% translate "Link a new user" %}
                            </a>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% include "oscar/dashboard/partials/pagination.html" %}
        </form>
      {% else %}
        <div>{% translate "No partners found." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}
