{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}
{% load currency_filters %}

{% block body_class %}
  {{ block.super }} users
{% endblock body_class %}
{% block title %}
  {% trans "Product alerts" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Product alerts" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {% trans "Product alerts" %}
{% endblock headertext %}
{% block dashboard_content %}
  <div class="card">
    <span class="card-header icon-link fw-normal">
      <iconify-icon icon="stash:search-light" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {% trans "Search product alerts" %}
    </span>
    <div class="card-body">
      <form method="get" class="hstack gap-4">
        {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form wrapper_class="mb-0" %}
        <div>
          <button type="submit" class="btn btn-primary" data-loading-text="{% trans "Searching..." %}">{% trans "Search" %}</button>
          <a href="{% url "dashboard:user-alert-list" %}"
             class="btn btn-secondary ms-2">{% trans "Reset" %}</a>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <span class="card-header icon-link fw-normal">
      <iconify-icon icon="fa-solid:users" width="1rem" height="1rem" aria-hidden="true"></iconify-icon>
      {{ queryset_description }}
    </span>
    <div class="card-body {% if alerts %}p-0{% endif %}">
      {% if alerts %}
        <div class="table-container table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <tr>
              <th>{% trans "Product" %}</th>
              <th>{% trans "User" %}</th>
              <th>{% trans "Status" %}</th>
              <th>{% trans "Date created" %}</th>
              <th>{% trans "Date alert sent" %}</th>
              <th></th>
            </tr>
            {% for alert in alerts %}
              <tr>
                <td>
                  <a href="{{ alert.product.get_absolute_url }}">{{ alert.product }}</a>
                </td>
                <td>
                  {% if alert.user %}
                    <a href="{% url "dashboard:user-detail" pk=alert.user.id %}">{{ alert.user.email }}</a>
                  {% else %}
                    {{ alert.email }} {% trans "(Anonymous)" %}
                  {% endif %}
                </td>
                <td>{{ alert.status }}</td>
                <td>{{ alert.date_created }}</td>
                <td>{{ alert.date_closed|default:"-" }}</td>
                <td>
                  <div class="btn-toolbar">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle"
                              type="button"
                              id="dropdownMenuButton"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">{% trans "Actions" %}</button>
                      <div class="dropdown-menu dropdown-menu-end"
                           aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           href="{% url "dashboard:user-alert-update" pk=alert.id %}">{% trans "Edit" %}</a>
                        <a class="dropdown-item"
                           href="{% url "dashboard:user-alert-delete" pk=alert.id %}">{% trans "Delete" %}</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% include "oscar/dashboard/partials/pagination.html" %}
      {% else %}
        <div>{% trans "No alerts found." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}
