{% extends "oscar/dashboard/layout.html" %}

{% load i18n %}

{% block body_class %}
  {{ block.super }} users
{% endblock body_class %}
{% block title %}
  {% blocktranslate with id=alert.id %}Update alert #{{ id }}{% endblocktranslate %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:index" %}">{% translate "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "dashboard:user-alert-list" %}">{% translate "Product alerts" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% blocktranslate with id=alert.id %}Alert #{{ id }}{% endblocktranslate %}
      </li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block headertext %}
  {% blocktranslate with id=alert.id %}Product alert #{{ id }}{% endblocktranslate %}
{% endblock headertext %}
{% block dashboard_content %}
  <div class="table-header">
    <h2 class="mb-0">{% blocktranslate with id=alert.id %}Product alert #{{ id }}{% endblocktranslate %}</h2>
    <div class="float-end">
      <form method="post" class="hstack">
        {% csrf_token %}
        {% include "oscar/dashboard/partials/form_fields_inline.html" wrapper_class="mb-0" %}
        <button type="submit"
                class="btn btn-primary"
                data-loading-text="{% translate "Saving..." %}">{% translate "Save" %}</button>
        <a href="{% url "dashboard:user-alert-list" %}"
           class="btn btn-secondary">{% translate "cancel" %}</a>
      </form>
    </div>
  </div>
  {% include "oscar/dashboard/users/alerts/partials/alert.html" %}
{% endblock dashboard_content %}
